    @mixin respond-to-mobile {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @mixin respond-to-except-mobile {
        @media only screen and (min-width: 769px) {
            @content;
        }
    }

    $wisteria: #8e44ad;
    $app-primary: darken(saturate($wisteria, 15), 20);
    $PETER_RIVER_DARK: #1d6ea4;
    $PETER_RIVER_LIGHT: #99cbec;
    $EMERALD: #2ecc71;
    $NEPHRITIS: #27ae60;
    $TURQUOISE: lighten(#1abc9c, 10);
    $PETER_RIVER: #3498db;
    $AMETHYST: #9b59b6;
    $SUNFLOWER: #f1c40f;
    $CARROT: #e67e22;
    $ALIZARIN: #e74c3c;
    $ORANGE: #f39c12;
    $PUMPKIN: #d35400;
    $POMEGRANATE: #c0392b;
    $WISTERIA: #8e44ad;
    $BELIZE_HOLE: #2980b9;

    $LIGHT_TONE: #fff;
    $DARKMODE_BG : #222;
    $DARKMODE_BG_SECONDARY : #444;
    

    @mixin scrollbars($size, $foreground-color, $background-color) {
         ::-webkit-scrollbar {
            width: $size;
            height: $size;
        }
         ::-webkit-scrollbar-thumb {
            background: $foreground-color;
        }
         ::-webkit-scrollbar-track {
            background: $background-color;
        } // For Internet Explorer
        .app-nav {
            -ms-scrollbar-face-color: $foreground-color;
            scrollbar-face-color: $foreground-color;
            -ms-scrollbar-track-color: $background-color;
            scrollbar-track-color: $background-color;
        }
    }