<div class="app-header" data-tag="dark-mode-applicable">
    <div class="app-header-xs" [hidden]="!showLightHeader">
        <div class="app-header-xs-img-holder">
            <img data-lazy-load="true" src="assets/profile-pics/asit_2020.jpg" [attr.id]="picId"/>
        </div>
        <div class="app-header-xs-title">
            <label>Asit Parida</label>
        </div>
    </div>
    <!-- <div id="js-modal-hide-layer" class="layer-text"></div> -->
    <ul class="app-header-topskills">
        <li>UX Design</li>
        <li>Web & Native</li>
        <li>Rapid Prototyping</li>
        <li>Front End Engineering</li>
        <li>Accessibility</li>
    </ul>
</div>