<div class="footer-holder">
    <div class="footer-wrapper">
        <div class="footer-inner-wrapper">
            <ul>
                <li>© Asit Parida 2019</li>
            </ul>
            <ul>
                <li>
                    <a [routerLink]="['about-me']">Contact</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/asitparida">GitHub</a>
                </li>
                <li>
                    <a target="_blank" href="https://asitparida-v1.azurewebsites.net/">Version 1</a>
                </li>
                <li>
                    <a target="_blank" href="https://asitparida-v2.azurewebsites.net/">Version 2</a>
                </li>
            </ul>
        </div>
    </div>
</div>