.footer-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .footer-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        padding: 0 60px;
        .footer-inner-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-top: 3px solid rgba(0, 0, 0, 0.03);
            height: 90px;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            list-style: none;
            padding: 0;
            &:first-child {
                li {
                    margin-right: 45px;
                }
            }
            &:last-child {
                li {
                    margin-left: 45px;
                }
            }
            li {
                color: #A0A0A0;
                text-transform: uppercase;
                font-size: small;
                letter-spacing: 1px;
                a {
                    text-decoration: none;
                    color: #A0A0A0;
                    &:hover,
                    &:focus {
                        color: #909090;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1366px) {
    .footer-holder .footer-wrapper {
        max-width:1200px;
    }
}

@media (min-width: 992px) and (max-width: 1361px) {
    .footer-holder .footer-wrapper {
        max-width:900px;
    }
}

@media only screen and (max-width: 991px) {
    .footer-holder .footer-wrapper {
        max-width:600px;
        ul {
            &:last-child {
                li {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }
        }
    }
}