<!-- <div class="project-contents">
    <div class="marvel-device macbook television">
        <div class="camera"></div>
        <div class="screen">
            <div class="player-holder">
                <video controls crossorigin playsinline id="player">
                    <source src="https://s3.us-east-2.amazonaws.com/asitparida-portfolio/TransitBoardDisplay.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<div class="project-contents">
    <section class="project-section h100Adjusted justifyAlignCenter">
        <div class="section-wrapper alignItemsBottom">
            <div class="left-section alignItemsCenter">
                <app-team-badge></app-team-badge>
                <h1 style="margin-top: 100px;">Transit Hub Display</h1>
                <p style="margin: 0 0 30px 0;">Designing a data driven display for a tourist hub</p>
                <div class="tags centered">
                    <div class="tag">
                        <img data-lazy-load="true" src="assets/layers.png">
                        <label>design</label>
                    </div>
                    <div class="tag">
                        <img data-lazy-load="true" src="assets/research.png">
                        <label>evaluative research</label>
                    </div>
                    <div class="tag">
                        <img data-lazy-load="true" src="assets/prototype.png">
                        <label>prototyping</label>
                    </div>
                </div>
            </div>
            <div class="content-available-below-fold">
                <img data-lazy-load="true" src="assets/arrow_upward.png" />
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper alignItemsFlexStart w100 p-b-0">
            <div class="tri-section ">
                <h2>What</h2>
                <h3>are we building ?</h3>
                <p>
                    We are building a environmental display for the fictional Atlantis travel hub in the San Juan
                    Islands.
                    Passengers will get ample information to plan itineraries, take trips across the small islands and
                    enjoy the peace and tranquility of the beautiful San Juan.
                </p>
            </div>
        </div>
        <div class="section-wrapper alignItemsFlexStart w100">
            <div class="tri-section">
                <h4 class="highlight">Tenet #1</h4>
                <p class="highlight-text">People can plan itineraries to visit multiple islands and places of
                    attractions in the island.</p>
            </div>
            <div class="tri-section">
                <h4 class="highlight">Tenet #2</h4>
                <p class="highlight-text">We will promote the specific attractions and sight-seeing options across the
                    different islands.</p>
            </div>
            <div class="tri-section">
                <h4 class="highlight">Tenet #3</h4>
                <p class="highlight-text">The display would promote the PTF program through which passengers combine
                    multiple trips across planes, trains and ferries operating across all airports, harbours and POIs
                    in the islands.</p>
            </div>
        </div>
    </section>
    <section class="project-section h50 justifyAlignCenter">
        <div class="section-wrapper w100">
            <div class="tri-section w2">
                <h2>Analyzing stakeholders</h2>
                <p>
                    We studied the personas and the available transit information for the islands to dissect through
                    the data.
                    <br />
                    To plot the inferred information, we used <strong>Wurman's LATCH</strong> model and observed data
                    across multiple features and axes.
                    <br />
                    We created multiple tables to see what factors were absolutlely vital and what information could be
                    ommitted from views.
                </p>
            </div>
            <div class="tri-section w1 justifyAlignCenter">
                <app-picture-carousel [bottomStagger]="true" carouselWrapperClass="transit-carousel" listWrapperClass="transit-list"
                    [items]="pictureCarouselItems"></app-picture-carousel>
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper w100 alignItemsFlexStart">
            <div class="tri-section">
                <h2>Persona #1</h2>
                <h3>Elizabeth Duarte</h3>
                <p>
                    Our Stakeholder serves as the transportation director of the municipality of San Juan Islands which
                    is financing the environmental display for <strong>showing transportation data</strong> across the
                    island.
                    She aims to <strong>promote the new program</strong>, PTF pass, which would allow customers great
                    ease and flexibility to travel across the islands
                </p>
            </div>
            <div class="tri-section">
                <h2>Persona #2</h2>
                <h3>George Shimko</h3>
                <p>
                    He is a long-time resident of island and owns modest fishing cabins on nearby Orcas Island and
                    Stuart Island. He regularly invites his children
                    and grandchildren to his house on San Juan Island and intends to give them PTF passes so that
                    they can <strong>travel across</strong> San Juan Islands.
                </p>
            </div>
            <div class="tri-section">
                <h2>Persona #3</h2>
                <h3>Patrick Mulvaney</h3>
                <p>
                    Patrick Mulvaney is an environmental engineer stationed in Seattle. He spends an average of three
                    days per
                    week visiting drilling and wind power sites throughout the San Juan Islands. Weather
                    often influences his travel and so Patrick welcomes the new Pass program that allows him to
                    purchase multiple trips and optimize his travel on-the-fly.
                </p>
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <div class="section-wrapper w100">
            <div class="tri-section">
                <h2>Hand Drawn Sketches</h2>
                <p>
                    After gathering and analyzing the data set and the user infomation, we moved on to hand drawn
                    sketches to figure out most efficient and clear display.
                </p>
                <app-picture-carousel [embeddedCarousel]="true" [bottomStagger]="true" carouselWrapperClass="transit-carousel" listWrapperClass="transit-list"
                    [items]="pictureCarouselItems"></app-picture-carousel>
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <div class="section-wrapper w100 ">
            <div class="tri-section w2">
                <h2>Diigital Protoyping</h2>
                <h3>Iteration #1</h3>
                <p>
                    The brainstorming sessions put us on a path towards the tamagotchi-like game concept We created
                    multiple fidelities for our initial designs.
                    To help us validate the needs we were addressing, we conducted think aloud sessions on our paper
                    prototypes .
                </p>
                <div class="comments-wrapper">
                    <div class="comment">
                        <h4 class="highlight">Feedback #1</h4>
                        <p class="highlight-text">I think it’s fun and learning how to care for your worble seems like
                            it’ll be really entertaining...</p>
                    </div>
                    <div class="comment">
                        <h4 class="highlight">Feedback #2</h4>
                        <p class="highlight-text">I loved decorating the creature.</p>
                    </div>
                </div>
            </div>
            <div class="tri-section w1">
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <div class="section-wrapper w100 ">
            <div class="tri-section w2">
                <h2>&nbsp;</h2>
                <h3>Iteration #2</h3>
                <p>
                    The brainstorming sessions put us on a path towards the tamagotchi-like game concept We created
                    multiple fidelities for our initial designs.
                    To help us validate the needs we were addressing, we conducted think aloud sessions on our paper
                    prototypes .
                </p>
                <div class="comments-wrapper">
                    <div class="comment">
                        <h4 class="highlight">Feedback #1</h4>
                        <p class="highlight-text">I think it’s fun and learning how to care for your worble seems like
                            it’ll be really entertaining...</p>
                    </div>
                    <div class="comment">
                        <h4 class="highlight">Feedback #2</h4>
                        <p class="highlight-text">I loved decorating the creature.</p>
                    </div>
                </div>
            </div>
            <div class="tri-section w1">
                <app-picture-carousel></app-picture-carousel>
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <div class="section-wrapper w100">
            <div class="tri-section w2">
                <h2>Using motion as feedback</h2>
                <p>We created a fictional world in which users are given a creature, affectionately called a Worble, to
                    take care of.<br />Throughout the course of the game, users receive information from friends in
                    their
                    pet community on how to take care of their Worble. The correct information will help
                    their Worble grow whereas the malicious ones will make it sick.
                    <br />Users accelerate their experience points as they correctly differentiate between the true and
                    false
                    information.</p>
            </div>
            <div class="tri-section w1">
                <app-picture-carousel></app-picture-carousel>
            </div>
        </div>
    </section>
    <section class="project-section h50 justifyAlignCenter">
        <div class="section-wrapper w100 alignItemsBottom">
            <div class="tri-section w2">
                <h2>Final Prototype</h2>
                <p>
                    After three iterations of testing our fidelities, we chose react-native for digital prototyping.
                    The platform was new to us but offered a little bit of familiarity with its use of flex-based
                    layouts.
                    The richer native integrations, like using accelerometer for detecting a shake gesture, has been
                    well-received.
                </p>
                <button class="portfolio-btn" (click)="watchVideo()">Watch Video</button>
            </div>
            <div class="tri-section w1">
                <app-picture-carousel></app-picture-carousel>
            </div>
        </div>
        <div class="section-wrapper w100 alignItemsBottom">
            <div class="marvel-device macbook television">
                <div class="camera"></div>
                <div class="screen">
                    <div class="player-holder">
                        <video controls crossorigin playsinline id="player">
                            <source src="https://s3.us-east-2.amazonaws.com/asitparida-portfolio/TransitBoardDisplay.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project-section h20 justifyAlignCenter">
        <div class="section-wrapper w100 footer-section">
            <div class="tri-section w2">
                <h4>Team Members</h4>
                <p>
                    <a href="" target="_blank">Clair Sun,</a> <a href="" target="_blank">Maggie Chain</a>
                </p>
            </div>
            <div class="tri-section w1 justifyAlignFlexStart">
                <h4>Credits</h4>
                <p>
                    <a href="https://www.flaticon.com/" target="_blank">Flat Icon</a>
                </p>
            </div>
        </div>
    </section>
</div>