<app-header></app-header>
<div style="background:#fff">
    <div class="grid-separator hidden-on-xs" data-tag="dark-mode-applicable"></div>
    <div class="tabs responsive-grid-width">
        <div class="tab-toggler">
            <button [class.active]="currentTab === 0" (click)="activateTab(0)">Projects</button>
            <button [class.active]="currentTab === 1" (click)="activateTab(1)">About Me</button>
        </div>
    </div>
    <app-projects [hidden]="currentTab !== 0"></app-projects>
    <app-bio [hidden]="currentTab !== 1"></app-bio>
    <div class="grid-separator hidden-on-xs reverse" data-tag="dark-mode-applicable"></div>
</div>
<app-skills></app-skills>