<section class="grid-wrap">
    <div class="project-drawer-container out" data-tag="project-drawer" [attr.id]="drawerId">
        <div class="project-drawer" data-tag="project-drawer-bg">
            <div class="close" (click)="closeProjectDrawer()">x</div>
            <label data-tag="project-drawer-title"></label>
            <p data-tag="project-drawer-subtitle"></p>
            <div class="project-drawer-links">
                <a class="portfolio-btn" href="" target="_blank" data-tag="app-link">Visit Website</a>
                <a class="portfolio-btn" href="" target="_blank" data-tag="source-code">GitHub</a>
            </div>
            <p data-tag="project-drawer-description"></p>
        </div>
    </div>
    <ul class="grid swipe-down" id="grid" data-tag="dark-mode-applicable">
        <li *ngFor="let item of projects; let i = index;" [attr.data-color]="item.bgColor" class="grid-item" [attr.id]="item.id">
            <a target="_blank" (click)="openProjectDrawer(item)">
                <label class="featured" *ngIf="item.isNew"><span>Featured</span></label>
                <div class="grid-item-content-container" data-tag="take-bg">
                    <img deferLoad [style.width]="item.width" [style.height]="item.height" [attr.data-tag-lazy]="item.imgSrc" />
                </div>
                <div class="grid-item-text-container" [attr.data-hoverbg]="item.hoverbg" [attr.size]="item.size">
                    <div class="grid-item-text-container-box">
                        <h3>{{item.name}}</h3>
                        <p>{{item.description}}</p>
                        <git-link *ngIf="item.githubSrc" [link]="item.githubSrc"></git-link>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="clear-xs-both"></div>
</section>