@import '../../shared';
@mixin INSERT_HOVER_BGS($color, $lightenAmount, $foreground) {
    .grid-item-content-container {
        background-color: lighten($color, $lightenAmount);
    }
    .grid-item-text-container-box {
        @include respond-to-mobile {
            color: #303030;
            .git-link {
                background-color: rgba($color, 0.10);
                svg g g {
                    fill: $color;
                }
            }
        }
        @include respond-to-except-mobile {
            color: $foreground;
            p {
                text-shadow: 3px 3px rgba($color, 0.50);
            }
            .git-link {
                background-color: rgba(255, 255, 255, 0.33);
                &:hover {
                    background-color: $foreground;
                    svg g g {
                        fill: $color;
                    }
                }
                svg g g {
                    fill: $foreground;
                }
            }
        }
    }
    @include respond-to-except-mobile {
        .grid-item-text-container:hover {
            -webkit-box-shadow: 0px 13px 71px -2px rgba($color, 1);
            -moz-box-shadow: 0px 13px 71px -2px rgba($color, 1);
            box-shadow: 0px 13px 71px -2px rgba($color, 1);
            background: $color;
            background: rgba($color, 0.8) 20px 20px no-repeat;
        }
    }
    label.featured {
        span {
            color: $foreground;
            background: $color;
        }
    }
}

.grid {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    @include respond-to-except-mobile {
        min-height: 300px;
    }
    max-width: 1200px;
    &:nth-child(1){
        margin-bottom: 10px;
    }
    &:nth-child(2){
        margin-top: 5px;
    }
    @include respond-to-mobile {
        margin: 0 !important;;
        width:100% !important;
    }
    &-wrap {
        clear: both;
        margin: 0 auto;
        padding: 30px 0;
        max-width: 1260px;
        .timeline {
            box-sizing: border-box;
            display: block;
            margin: 0 auto;
            padding: 0 0 0px 0;
            width: 80%;
            @include respond-to-mobile {
                padding: 5px 15px 15px 15px;
                width: 100%;
                p.info{
                    margin-top: 0;
                }
            }
            p.info {
                // font-weight: 100;
                line-height: 1.45em;
                padding-bottom: 15px;
                @include respond-to-mobile {
                    text-align: justify;
                }
            }
            .timeline-content {
                width: 100%;
                display: block;
                margin-top: 45px;
                .stop {
                    margin: 0;
                    position: relative;
                    padding: 0 0px 0 60px;
                    display: inline-block;
                    @include respond-to-mobile {
                        padding: 0;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 24px;
                    }
                    .stop-content {
                        width: 100%;
                        padding: 0 0 36px 36px;
                        border-left: 1px dashed rgba($NEPHRITIS, 0.50);
                        box-sizing: border-box;
                        float: left;
                        @include respond-to-mobile {
                            border-left: none;
                            padding-left: 0;
                            padding-bottom: 20px;
                            margin-bottom: 20px;
                        }
                        &.noPaddingBottom {
                            padding-bottom: 0;
                        }
                        &:before {
                            position: absolute;
                            left: 52px;
                            content: ' ';
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            border: 1px solid $NEPHRITIS;
                            padding: 2px;
                            background: #ffffff;
                            box-sizing: border-box;
                            @include respond-to-mobile {
                                display: none;
                            }
                        }
                        &:after {
                            content: ' ';
                            position: absolute;
                            left: 55px;
                            top: 3px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: $NEPHRITIS;
                            @include respond-to-mobile {
                                display: none;
                            }
                        }
                        .stop-title {
                            color: $NEPHRITIS;
                            font-weight: bold;
                            @include respond-to-mobile {
                                border-left: none;
                                padding-left: 36px;
                                padding-top: 2px;
                            }
                        }
                        .stop-details {
                            margin-top: 20px;
                            ul {
                                padding-left: 16px;
                                margin: 6px 0;
                                list-style: none;
                                li {
                                    // font-weight: 100;
                                    line-height: 1.45em;
                                    position: relative;
                                    padding-left: 5px;
                                    &:before {
                                        content: ' ';
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        background: $NEPHRITIS;
                                        position: absolute;
                                        top: 9px;
                                        left: - 15px;
                                    }
                                }
                            }
                        }
                        label {
                            margin-bottom: 0px;
                            // font-weight: 100;
                            font-size: medium;
                            strong {
                                @include respond-to-mobile {
                                    display: block;
                                    margin-bottom: 8px;
                                }
                            }
                        }
                        p {
                            margin-bottom: 0;
                            margin-top: 6px;
                            // font-weight: 100;
                            line-height: 1.45em;
                            @include respond-to-mobile {
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
        @include respond-to-mobile {
            margin-bottom: 0 !important;
            padding: 12px;
        }
    }
    &.loaded {
        background: none;
        .grid-item {
            display: inline-block;
            @include respond-to-except-mobile {
                float: left;
            }
            .grid-item-text-container {
                visibility: hidden;
            }
        }
    }
    &.dark {
        .grid-item {
            .curtain {
                background: $DARKMODE_BG !important;
            }
            a {
                background: url(../../assets/tile-watermark.png) $DARKMODE_BG;
            }
            &[data-color]{
                &:nth-child(2n + 1){
                    .grid-item-content-container {
                        box-sizing: border-box;
                        background-color: #333;
                        border: 3px solid #333;
                    }   
                }
                &:nth-child(2n + 2) {
                    .grid-item-content-container {
                        box-sizing: border-box;
                        background-color: #333;
                        border: 3px solid #333;
                        @include respond-to-mobile {
                            background-color: #111;
                            border-color: #111;
                        }
                    }                
                }
            }
            &[data-color],
            {
                .grid-item-text-container-box {
                    color: $LIGHT_TONE;
                    p {
                        text-shadow: none;
                    }
                    .git-link {
                        background-color: rgba(255, 255, 255, 0.33);
                        &:hover {
                            background-color: $LIGHT_TONE;
                            svg g g {
                                fill: #000;
                            }
                        }
                        svg g g {
                            fill: $LIGHT_TONE;
                        }
                    }
                }
                @include respond-to-except-mobile {
                    .grid-item-text-container:hover {
                        -webkit-box-shadow: 0px 13px 71px -2px rgba(#000, 1);
                        -moz-box-shadow: 0px 13px 71px -2px rgba(#000, 1);
                        box-shadow: 0px 13px 71px -2px rgba(#000, 1);
                        background: #000;
                        background: rgba(#000, 0.8) 20px 20px no-repeat;
                    }
                }
            }
            &-content-container {
                img {
                    width: 80%; // display: none;
                    filter: grayscale(100%);
                }
            }
            &-text-container {
                &-box {
                    h3 {
                        border-top: 5px solid rgba(255, 255, 255, 0.33);
                        @include respond-to-mobile {
                            border-top: none;
                        }
                    }
                }
            }
            &:not(.shown) {
                a {
                    border: 1px dashed #909090;
                }
            }
        }
    }
    &:not(.loaded) {
        .grid-item {
            display: none;
            float: left;
            @include respond-to-mobile {
                display: block;
            }
        }
    }
    .grid-item {
        width: 300px;
        padding: 5px;
        box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        vertical-align: top;
        * {
            cursor: pointer;
        }
        @include respond-to-mobile {
            width:100% !important;
            padding:0 !important;
            margin-bottom: 12px;
        }
        &[size="double"] {
            width: 100%;
            .grid-item-text-container-box p {
                width:50%;
                &:not(.full) {
                    @include respond-to-mobile {
                        width: calc(100% - 60px) !important;
                    }
                }

                &.full {
                    @include respond-to-mobile {
                        width: 100% !important;
                    }
                }
            }
        }
        a {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            opacity: 1;
            background-size: cover;
            background: url(../../assets/tile-watermark.png) #fff;
            background-repeat: repeat;
            text-decoration: none;
        }
        >a {
            display: block;
            outline: none;
            border: none;
            position: relative;
            margin: 0;
        }
        &[data-color="$PETER_RIVER"] {
            @include INSERT_HOVER_BGS($PETER_RIVER, 40, #fff)
        }
        &[data-color="$EMERALD"] {
            @include INSERT_HOVER_BGS($EMERALD, 40, #000)
        }
        &[data-color="$NEPHRITIS"] {
            @include INSERT_HOVER_BGS($NEPHRITIS, 40, #fff)
        }
        &[data-color="$TURQUOISE"] {
            @include INSERT_HOVER_BGS($TURQUOISE, 40, #000)
        }
        &[data-color="$AMETHYST"] {
            @include INSERT_HOVER_BGS($AMETHYST, 40, #fff)
        }
        &[data-color="$SUNFLOWER"] {
            @include INSERT_HOVER_BGS($SUNFLOWER, 40, #000)
        }
        &[data-color="$CARROT"] {
            @include INSERT_HOVER_BGS($CARROT, 40, #fff)
        }
        &[data-color="$ALIZARIN"] {
            @include INSERT_HOVER_BGS($ALIZARIN, 40, #fff)
        }
        &[data-color="$ORANGE"] {
            @include INSERT_HOVER_BGS($ORANGE, 40, #fff)
        }
        &[data-color="$PUMPKIN"] {
            @include INSERT_HOVER_BGS($PUMPKIN, 40, #fff)
        }
        &[data-color="$POMEGRANATE"] {
            @include INSERT_HOVER_BGS($POMEGRANATE, 40, #fff)
        }
        &[data-color="$WISTERIA"] {
            @include INSERT_HOVER_BGS($WISTERIA, 40, #fff)
        }
        &[data-color="$BELIZE_HOLE"] {
            @include INSERT_HOVER_BGS($BELIZE_HOLE, 40, #fff)
        }
        label.featured {
            margin: 0;
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            z-index: 11;
            font-size: x-small;
            text-align: left;
            span {
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 4px;
                display: inline-block;
                margin: 0;
                text-align: center;
            }
            @include respond-to-mobile {
                text-align: right;
            }
        }
        &-content-container {
            @include respond-to-mobile {
                height: 100%;
                img {
                    display: none !important;
                }
            }
            @include respond-to-except-mobile {
                height: 300px;
            }
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 9;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 80%;
                opacity: 0;
                transition: opacity 0.2s ease-in 0s;
                &.show {
                    opacity: 1;
                }
                &.highlight-demo-pic {
                    height:100%;
                    width:auto;
                    max-width:80%;

                    @include respond-to-mobile {
                        height: auto;
                    }
                }
            }
        }
        &-text-container {
            @include respond-to-except-mobile {
                height: 300px;
            }
            width: 100%;
            display: block;
            outline: none;
            border: none;
            position: relative;
            z-index: 10;
            overflow: hidden;
            &-box {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 30px;
                opacity: 0;
                transform: translateY(100%);
                @include respond-to-mobile {
                    transform: translateY(0);
                    opacity: 1;
                    padding: 20px;
                }
                h3 {
                    display: inline-block;
                    bottom: 30px;
                    margin: 0;
                    padding-top: 15px;
                    font-family: 'Open sans', sans-serif;
                    font-weight: bold;
                    text-align: left;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    box-sizing: border-box;
                    font-size: medium;
                    border-top: 5px solid rgba(255, 255, 255, 0.33);
                    @include respond-to-mobile {
                        border-top: none;
                        font-size: medium;
                        transition: transform 16ms, color 16s;
                        padding-top: 0;
                    }
                    transition: transform 0.2s, color 0.2s;
                    text-decoration: none;
                    max-width: calc(100% - 90px);
                    @include respond-to-except-mobile {
                        position: absolute;
                    }
                }
                p {
                    @include respond-to-except-mobile {
                        position: absolute;
                        font-weight: bold;
                    }
                    @include respond-to-mobile {
                        border-top: none;
                        font-size: medium;
                        margin-bottom: 0;
                        font-weight: 500;
                    }
                    padding: 0 30px;
                    left: 0;
                    top: 45px;
                    display: block;
                    font-family: 'Open sans', sans-serif;
                    width: 100%;
                    font-size: large;
                    text-align: left;
                    text-decoration: none;
                    text-transform: lowercase;
                }
                .git-link {
                    position: absolute;
                    bottom: 30px;
                    right: 30px;
                    height: 48px;
                    width: 48px;
                    padding: 0 9px;
                    border-radius: 50%;
                    transition: background-color 0.2s linear 0s;
                }
            }
        }
        &:not(.shown) {
            overflow: hidden;
            a {
                border: 1px dashed #E0E0E0;
            }
        }
        &.shown {
            @include respond-to-except-mobile {
                .grid-item-content-container {
                    animation: show-container 1s linear forwards;
                    img {
                        display: block;
                    }
                }
            }
            @include respond-to-mobile {
                .grid-item-content-container {
                    animation: show-container 0.1s linear forwards;
                    img {
                        display: block;
                    }
                }
            }
            .grid-item-text-container {
                visibility: visible;
            }
            .curtain {
                transform: translate3d(0, 0, 0);
            }
        }
        &.animate {
            @include respond-to-except-mobile {
                .grid-item-content-container {
                    animation: add-background 0.5s linear forwards;
                }
                .grid-item-text-container {
                    animation: show-container 0.5s step-end forwards;
                }
            }
            @include respond-to-mobile {
                .grid-item-content-container {
                    animation: add-background 0.1s linear forwards;
                }
                .grid-item-text-container {
                    animation: show-container 0.1s step-end forwards;
                }
            }
        }
    }
    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        width: 100%;
        height: 100%;
        background: #f0f0f0 !important;
    }
    &.swipe-down {
        .curtain {
            transform: translate3d(0, -120%, 0);
        }
        .grid-item.animate .curtain {
            animation: swipeDown 0.5s cubic-bezier(0.6, 0, 0.4, 1) forwards;
        }
    }
}
body.dark {
    .grid-wrap {
        .timeline {
            .timeline-content {
                .stop {
                    .stop-content {
                        border-left: 1px dashed rgba(#565656, 0.50) !important;
                        &:before {
                            position: absolute;
                            left: 52px;
                            content: ' ';
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            border: 1px solid #565656 !important;
                            padding: 2px;
                            background: #ffffff;
                            box-sizing: border-box;
                            @include respond-to-mobile {
                                display: none;
                            }
                        }
                        &:after {
                            content: ' ';
                            position: absolute;
                            left: 55px;
                            top: 3px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: #565656 !important;
                            @include respond-to-mobile {
                                display: none;
                            }
                        }
                        .stop-title {
                            color: #565656 !important;
                        }
                        .stop-details {
                            ul {
                                li {
                                    &:before {
                                        content: ' ';
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        background: #565656 !important;
                                        position: absolute;
                                        top: 8px;
                                        left: - 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to-except-mobile {
    .grid-item-text-container:hover,
    .grid-item-text-container.active {
        .grid-item-text-container-box {
            animation: move-up-text 0.5s linear forwards;
        }
    }
}

@keyframes swipeDown {
    0% {}
    50% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(0, -120%, 0);
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeOut {
    0% {}
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {}
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes showMe {
    from {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@keyframes showMe {
    from {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@keyframes show-container {
    from {
        opacity: 0;
        transform: translateY(-25px)
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes add-background {
    0% {
        background: rgba(1, 1, 1, 0);
    }
    100% {
        background: rgba(1, 1, 1, 1);
    }
}

@keyframes hide-container {
    0%,
    90% {
        display: block;
    }
    100% {
        display: none;
    }
}

@keyframes move-up-text {
    0% {
        transform: translate3d(0, 25px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.clearfix:after {
    clear: both;
    content: ' ';
}