<div class="app-skills" data-tag="dark-mode-applicable">
    <label class="content-skills-label">Frameworks and Tools</label>
    <div class="content-skills-holder">
        <div class="content-skills-holder-arrow-holder left" (click)="scrollLeft()">
            <div class="content-skills-holder-arrow-holder-arrow content-skills-holder-arrow-holder-arrow--mover"></div>
        </div>
        <div class="content-skills-holder-arrow-holder right" (click)="scrollRight()">
            <div class="content-skills-holder-arrow-holder-arrow content-skills-holder-arrow-holder-arrow--mover"></div>
        </div>
        <div class="content-skills-wrapper">
            <ul class="content-skills" id="contentSkillsList">
                <li class="content-skills-badge" *ngFor="let item of skills">
                    <img [attr.id]="item.id" [attr.src]="item.src" [attr.alt]="item.tag" [attr.title]="item.tag" />
                </li>
            </ul>
        </div>
    </div>
</div>