<!DOCTYPE html>
<html ng-csp ng-app="Portfolio.UI">
<head>
    <title>Asit Parida</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="lib/hammer.min.js"></script>
    <script src="lib/jquery-2.2.4.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular.hammer.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/slick.min.js"></script>
    <script src="lib/tinycolor-min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="dist/css/slick.css" rel="stylesheet" />
    <link href="dist/css/angular-material.css" rel="stylesheet" />
    <link href="dist/css/app.min.css" rel="stylesheet" />
    <script src="dist/js/configs/app.js"></script>
    <script src="dist/js/controllers/main.controller.js"></script>
</head>
<body class="{{main.activeColorMode.colorId}}" ng-controller="MainController as main" ng-cloak ng-class="{'colorPickerActive': main.showColorPicker}">
    <div class="color-switcher">
        <div class="theme-switcher accent-picker">
            <label class="settings-label">Pick Accent</label>
            <div class="accent-picker-close" ng-click="main.closeColorPicker()"></div>
            <div class="settings-color-picker" ng-show="main.settingsPaneColorsInitalized">
                <div class="color-originator"></div>
                <div class="color-plate" ng-repeat="color in main.shownColorModes" ng-style="{
                'background-color':color.code,
                'z-index': main.shownColorModes.length - $index,
                'transition':color.transition}" ng-attr-id="color_{{color.colorId}}"
                     ng-click="main.choseColor(color)"></div>
            </div>
        </div>
    </div>
    <div class="header" ng-mouseleave="main.bannerleave($event)">
        <div class="header-xs">
            <div class="header-xs-profile-links">
                <ul class="header-xs-profile-links-pages-list">
                    <li class="pull-left"><a href="http://github.com/asitparida"><img src="assets/github-logo-plain.png" /></a></li>
                    <li class="pull-right"><div class="header-xs-profile-links-pages-list-toggle" ng-click="main.openColorPicker()"></div></li>
                </ul>
            </div>
        </div>
        <div class="header-profile-data">
            <div class="header-picture-container">
                <div class="header-picture-container-pic">
                    <div class="header-picture-container-pic-circle">
                        <div class="header-picture-container-pic--0" id="header-pic-0"></div>
                        <div class="header-picture-container-pic--1" id="header-pic-1"></div>
                        <div class="header-picture-container-pic--2" id="header-pic-2"></div>
                        <div class="header-picture-container-pic--3" id="header-pic-3"></div>
                        <div class="header-picture-container-pic--4" id="header-pic-4"></div>
                    </div>
                </div>
            </div>
            <div class="header-profile-mast">
                <div class="header-profile-mast-name">Asit Kumar Parida</div>
                <div class="header-profile-mast-job-title">I build awesome experiences</div>
            </div>
            <div class="header-profile-links-pages-list-toggle pull-right" ng-click="main.openColorPicker()"></div>
            <div class="header-profile-links pull-right">
                <ul class="header-profile-links-pages-list">
                    <li class="header-profile-links-pages-list--active"><a>Home</a></li>
                    <li><a>Portfolio</a></li>
                    <li><a href="http://github.com/asitparida"><img src="assets/github-logo-plain.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="header-tagged">
            <label class="header-tagged-awesome">Responsive, Accessible & Extensible</label>
            <ul class="header-tagged-topskills">
                <li>HTML5 / CSS3</li>
                <li>Web / Native</li>
                <li>Eye for Design</li>
                <li>JavaScript</li>
                <li>MVC / MVVM</li>
            </ul>
            <div class="header-tagged-arrow-holder" tabindex="0" ng-click="main.goToContent()">
                <div class="header-tagged-arrow-holder-arrow header-tagged-arrow-holder-arrow--bottom"></div>
            </div>
        </div>
        <div class="submarine"
             id="header"
             hm-panmove="main.panmove($event)"
             ng-mousemove="main.mouseMove($event)"
             hm-recognizer-options='[{"type":"pan","threshold":5,"pointers": 0, "directions":"DIRECTION_ALL"}]'>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-bubble"></div>
            <div class="submarine-wrapper" id="pf_submarine">
                <div class="submarine-body">
                    <div class="submarine-body-window"></div>
                    <div class="submarine-body-engine"></div>
                    <div class="submarine-body-light-marker"></div>
                    <div class="submarine-body-light"></div>
                </div>
                <div class="submarine-helix"></div>
                <div class="submarine-fins">
                    <div class="submarine-fins-fin"></div>
                    <div class="submarine-fins-fin"></div>
                    <div class="submarine-fins-fin"></div>
                    <div class="submarine-fins-fin"></div>
                </div>
                <div class="submarine-hat">
                    <div class="submarine-hat-leds-wrapper">
                        <div class="submarine-hat-periscope"></div>
                        <div class="submarine-hat-leds-wrapper-leds"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-colorslab--bottom"></div>
    </div>
    <div class="content" id="portfolioContent">
        <div class="content-projects">
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#E0E0E0;">
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/moosik_200_blank.png" class="moosik" />
                    <div class="content-project-badge-innercontent-label">Moosik - An offline music player</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#f0f0f0;">
                <div class="content-project-badge-locked" title="You may not have access as this is a internal project"></div>
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/itibp.png" class="itibp" />
                    <div class="content-project-badge-innercontent-label">Best Engineering Practices</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#E0E0E0;">
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/piemix.png" class="piemix" />
                    <div class="content-project-badge-innercontent-label">PieMix - SVG & angular enabled pie chart</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#f0f0f0;">
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/vx-grid.png" class="vxgrid" />
                    <div class="content-project-badge-innercontent-label">VxGrid - DOM virtualized angular grid plugin</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#E0E0E0;">
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/notsogrey.png" class="notsogrey" />
                    <div class="content-project-badge-innercontent-label">For people who dream colors !!!</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#f0f0f0;">
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/richcc.png" class="richcc" />
                    <div class="content-project-badge-innercontent-label">RichCC - Rich calendar events plugin</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#E0E0E0;">
                <div class="content-project-badge-locked" title="You may not have access as this is a internal project"></div>
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/baat.png" class="baat" />
                    <div class="content-project-badge-innercontent-label">Awesome financial management app</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#f0f0f0;">
                <div class="content-project-badge-locked" title="You may not have access as this is a internal project"></div>
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/elements.png" class="elements" />
                    <div class="content-project-badge-innercontent-label">Project Elements</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-4 content-project-badge" style="background-color:#E0E0E0;">
                <div class="content-project-badge-locked" title="You may not have access as this is a internal project"></div>
                <div class="content-project-badge-innercontent">
                    <img src="project-logos/fduap.png" class="fduap" />
                    <div class="content-project-badge-innercontent-label">Going crazy with UWP & dashboards</div>
                </div>
            </div>
        </div>
        <label class="content-skills-label">Frameworks and Tools</label>
        <div class="content-skills-holder">
            <div class="content-skills-holder-arrow-holder left" ng-click="main.scrollLeft()">
                <div class="content-skills-holder-arrow-holder-arrow content-skills-holder-arrow-holder-arrow--mover"></div>
            </div>
            <div class="content-skills-holder-arrow-holder right" ng-click="main.scrollRight()">
                <div class="content-skills-holder-arrow-holder-arrow content-skills-holder-arrow-holder-arrow--mover"></div>
            </div>
            <div class="content-skills-wrapper">
                <ul class="content-skills" id="contentSkillsList">
                    <li class="content-skills-badge">
                        <img src="profile-skills/html5.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/css3.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/bootstrap.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/scss.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/material.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/js.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/ts.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/ang.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/ko.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/electron.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/visualstudio.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/git.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/gulp.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/npm.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/bower.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/sql.png" />
                    </li>
                    <li class="content-skills-badge">
                        <img src="profile-skills/aspnetmvc.png" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
