<div class="home-wrapper">
    <div class="titles">
        <h1>Hi</h1>
        <h2>I am Asit Parida</h2>
        <h2>A design dev who loves crafting amazing experiences</h2>
    </div>
    <div class="projects-title">
        <label>Featured Projects</label>
    </div>
    <div class="project-wrapper">
        <div class="project-item-wrapper">
            <a [routerLink]="['/veritas']" data-bg-color="$TURQUOISE">
                <label>Veritas</label>
                <p>An avatar based intervention against misinformation</p>
            </a>
        </div>
        <div class="project-item-wrapper">
            <a [routerLink]="['/transit-display']"  data-bg-color="$BELIZE_HOLE">
                <label>Transit Hub Display</label>
                <p>Designing a data driven display for a tourist hub</p>
            </a>
        </div>
        <div class="project-item-wrapper">
            <a [routerLink]="['/bun-bun']"  data-bg-color="$ALIZARIN">
                <label>Bun Bun Bakery</label>
                <p>An online shop for the best cinnamon buns in town</p>
            </a>
        </div>
        <div class="project-item-wrapper" >
            <a [routerLink]="['/idiff']" data-bg-color="$WISTERIA">
                <label>iDiff</label>
                <p>A visual tool to compare multiple fidelities of designs</p>
            </a>
        </div>
    </div>
</div>