<div class="home-wrapper">
    <div class="titles">
        <h1>Hi</h1>
        <h2>I am Asit Parida</h2>
        <h2>A design dev who loves crafting amazing experiences</h2>
    </div>
    <div class="project-wrapper">
        <div class="project-item-wrapper">
            <a [routerLink]="['/veritas']">
                <label>Veritas</label>
                <p>An avatar based intervention against misinformation</p>
            </a>
        </div>
        <div class="project-item-wrapper">
            <a [routerLink]="['/transit-display']">
                <label>Transit Hub Display</label>
                <p>Designing a data driven display for a tourist hub</p>
            </a>
        </div>
        <div class="project-item-wrapper">
            <a [routerLink]="['/bun-bun']">
                <label>Bun Bun Bakery</label>
                <p>An online shop for the best cinnamon buns in town</p>
            </a>
        </div>
        <div class="project-item-wrapper">
            <a [routerLink]="['/idiff']">
                <label>iDiff</label>
                <p>A visual tool to compare multiple fidelities of designs</p>
            </a>
        </div>
    </div>
</div>