.m-a-0 {
  margin: 0 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a-auto {
  margin: auto auto !important; }

.m-t-auto {
  margin-top: auto !important; }

.m-r-auto {
  margin-right: auto !important; }

.m-b-auto {
  margin-bottom: auto !important; }

.m-l-auto {
  margin-left: auto !important; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.m-a-5 {
  margin: 5px 5px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-x-5 {
  margin-right: 5px !important;
  margin-left: 5px !important; }

.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.m-a-10 {
  margin: 10px 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-x-10 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-a-15 {
  margin: 15px 15px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-x-15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.m-a-20 {
  margin: 20px 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-x-20 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-a-30 {
  margin: 30px 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-x-30 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.p-a-0 {
  padding: 0 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-auto {
  padding: auto auto !important; }

.p-t-auto {
  padding-top: auto !important; }

.p-r-auto {
  padding-right: auto !important; }

.p-b-auto {
  padding-bottom: auto !important; }

.p-l-auto {
  padding-left: auto !important; }

.p-x-auto {
  padding-right: auto !important;
  padding-left: auto !important; }

.p-y-auto {
  padding-top: auto !important;
  padding-bottom: auto !important; }

.p-a-5 {
  padding: 5px 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.p-x-5 {
  padding-right: 5px !important;
  padding-left: 5px !important; }

.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.p-a-10 {
  padding: 10px 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-x-10 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-a-15 {
  padding: 15px 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-x-15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.p-a-20 {
  padding: 20px 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-x-20 {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-a-30 {
  padding: 30px 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-x-30 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.d-b {
  display: block; }

.d-ib {
  display: inline-block; }

.d-i {
  display: inline; }

.p-s {
  position: static; }

.p-a {
  position: absolute; }

.p-r {
  position: relative; }

.p-f {
  position: fixed; }

*, *:before, *:after {
  box-sizing: border-box; }

.submarine {
  position: absolute;
  width: 100%;
  height: calc(85vh - 132px);
  cursor: none;
  overflow: hidden; }
  .submarine-bubble {
    width: 30px;
    height: 30px;
    background: #f9d6d2;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
    z-index: 10; }
    .submarine-bubble:nth-child(1) {
      left: 10%;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.2;
      animation: subamrine-move-bubble 15s linear infinite, subamrine-side-ways 4s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(2) {
      left: 20%;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.5;
      animation: subamrine-move-bubble 25s linear infinite, subamrine-side-ways 5s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(3) {
      left: 30%;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.3;
      animation: subamrine-move-bubble 20s linear infinite, subamrine-side-ways 4s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(4) {
      left: 40%;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.35;
      animation: subamrine-move-bubble 18s linear infinite, subamrine-side-ways 2s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(5) {
      left: 50%;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.3;
      animation: subamrine-move-bubble 7s linear infinite, subamrine-side-ways 1s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(6) {
      left: 60%;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.56);
      transform: scale(0.8);
      opacity: 0.3;
      animation: subamrine-move-bubble 17s linear infinite, subamrine-side-ways 1s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(7) {
      left: 70%;
      -webkit-transform: scale(0.78);
      -moz-transform: scale(0.78);
      transform: scale(0.78);
      opacity: 0.3;
      animation: subamrine-move-bubble 8s linear infinite, subamrine-side-ways 1s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(8) {
      left: 80%;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.3;
      animation: subamrine-move-bubble 15s linear infinite, subamrine-side-ways 1s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(9) {
      left: 87%;
      -webkit-transform: scale(0.33);
      -moz-transform: scale(0.33);
      transform: scale(0.33);
      opacity: 0.3;
      animation: subamrine-move-bubble 28s linear infinite, subamrine-side-ways 1s ease-in-out infinite alternate; }
    .submarine-bubble:nth-child(10) {
      left: 95%;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.3;
      animation: subamrine-move-bubble 19s linear infinite, subamrine-side-ways 1s ease-in-out infinite alternate; }
  .submarine-wrapper {
    position: absolute;
    left: calc(50% - 75px);
    height: 300px;
    width: 300px;
    padding: 30px 50px 30px 150px;
    margin: 0 auto 0 auto;
    animation: submarine-diving 3s ease-in-out infinite, submarine-diving-rotate 3s ease-in-out infinite; }
  .submarine-body {
    width: 150px;
    height: 80px;
    position: absolute;
    margin-top: 50px;
    left: 28px;
    border: 2px solid #f29f97;
    border-radius: 40px;
    background: #f29f97; }
    .submarine-body-light-marker {
      content: "";
      position: absolute;
      width: 20px;
      height: 13px;
      border-radius: 5px;
      background-color: #bf2718;
      margin-left: -10px;
      top: 61px;
      left: 136px;
      transform: rotate(-45deg);
      z-index: 2; }
    .submarine-body-light {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 150px 40px;
      border-color: transparent transparent #ea6153 transparent;
      transform: rotate(-50deg);
      top: 65px;
      left: 98px;
      z-index: 1;
      transform-origin: 38px 6px;
      animation: submarine-rotate-light-anim 4s linear infinite; }
    .submarine-body-window {
      width: 37px;
      height: 37px;
      position: absolute;
      margin-top: 20px;
      right: 33px;
      background: #f29f97;
      border-radius: 50%;
      border: 3px solid #e74c3c; }
      .submarine-body-window:after {
        content: "";
        position: absolute;
        margin-top: 3px;
        margin-left: 3px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: transparent;
        opacity: 0.8;
        border-top: 3px solid #e74c3c;
        transform: rotate(-45deg); }
    .submarine-body-engine {
      width: 30px;
      height: 30px;
      position: absolute;
      margin-top: 24px;
      left: 11px;
      background-color: #e74c3c;
      border-radius: 50%;
      border: 5px solid #e74c3c; }
      .submarine-body-engine:after, .submarine-body-engine:before {
        position: absolute;
        content: "";
        border-radius: 2px;
        background-color: #f9d6d2;
        animation: submarine-engine-spin 900ms linear infinite;
        opacity: 0.8; }
      .submarine-body-engine:after {
        top: 8px;
        width: 20px;
        height: 4px; }
      .submarine-body-engine:before {
        left: 8px;
        width: 4px;
        height: 20px; }
  .submarine-helix {
    width: 8px;
    height: 70px;
    position: absolute;
    margin-top: 55px;
    left: 21px;
    border: 2px solid #f29f97;
    border-radius: 7px;
    background: transparent; }
  .submarine-fins {
    position: absolute;
    width: 20px;
    height: 60px;
    left: 1px;
    top: 106px; }
    .submarine-fins-fin {
      width: 0;
      height: 4px;
      background: #f29f97;
      right: 0;
      position: absolute;
      border-radius: 18%;
      animation: submarine-fin-anim 1s linear infinite; }
      .submarine-fins-fin:nth-child(1) {
        -moz-animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
        top: 0px; }
      .submarine-fins-fin:nth-child(2) {
        -moz-animation-delay: 0.6s;
        -o-animation-delay: 0.6s;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
        top: 8px; }
      .submarine-fins-fin:nth-child(3) {
        -moz-animation-delay: 0.9s;
        -o-animation-delay: 0.9s;
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
        top: 16px; }
      .submarine-fins-fin:nth-child(4) {
        -moz-animation-delay: 1.2s;
        -o-animation-delay: 1.2s;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        top: 24px; }
  .submarine-hat {
    width: 65px;
    height: 25px;
    position: absolute;
    margin-top: 26px;
    left: 70px;
    background-color: #f29f97;
    border-radius: 10px 10px 0 0; }
    .submarine-hat-periscope {
      position: absolute;
      width: 7px;
      height: 20px;
      background-color: #f29f97;
      margin-top: -27px;
      margin-left: 32px;
      border-radius: 5px 5px 0 0; }
      .submarine-hat-periscope:after, .submarine-hat-periscope:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 7px;
        border-radius: 5px;
        background-color: #f29f97; }
    .submarine-hat-leds-wrapper {
      width: 53px;
      height: 13px;
      position: relative;
      top: 7px;
      left: 7px;
      background-color: #e74c3c;
      border-radius: 10px; }
      .submarine-hat-leds-wrapper-leds {
        position: absolute;
        margin-top: 4px;
        margin-left: 7px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #f29f97;
        animation: submarine-leds-off 1000ms linear infinite; }
        .submarine-hat-leds-wrapper-leds:after, .submarine-hat-leds-wrapper-leds:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #f29f97; }
        .submarine-hat-leds-wrapper-leds:after {
          margin-top: 0px;
          margin-left: 17px;
          animation-delay: 0.3s; }
        .submarine-hat-leds-wrapper-leds:before {
          margin-top: 0px;
          margin-left: 34px;
          animation-delay: -0.3s; }

@keyframes submarine-engine-spin {
  100% {
    transform: rotate(360deg); } }

@keyframes submarine-leds-off {
  0%, 100% {
    opacity: 0.1; }
  50% {
    opacity: 0.9; } }

@keyframes submarine-diving {
  0% {
    margin-top: 5px; }
  50% {
    margin-top: 15px; }
  100% {
    margin-top: 5px; } }

@keyframes submarine-diving-rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(3deg); }
  75% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes submarine-fin-anim {
  0%, 100% {
    width: 33%; }
  50% {
    width: 100%; } }

@keyframes submarine-rotate-light-anim {
  0%, 100% {
    transform: rotate(-90deg); }
  50% {
    transform: rotate(45deg); } }

@keyframes subamrine-move-bubble {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }

@keyframes subamrine-side-ways {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 50px; } }
