@import '../../shared';
@mixin INSERT_HOVER_BGS($color, $lightenAmount, $foreground) {
    .grid-item-content-container {
        background-color: lighten($color, $lightenAmount);
    }
    .grid-item-text-container-box {
        color: $foreground;
        p {
            text-shadow: 3px 3px rgba($color, 0.50);
        }
        .git-link {
            background-color: rgba(255, 255, 255, 0.33);
            &:hover {
                background-color: $foreground;
                svg g g {
                    fill: $color;
                }
            }
            svg g g {
                fill: $foreground;
            }
        }
    }
    .grid-item-text-container:hover {
        -webkit-box-shadow: 0px 13px 71px -2px rgba($color, 1);
        -moz-box-shadow: 0px 13px 71px -2px rgba($color, 1);
        box-shadow: 0px 13px 71px -2px rgba($color, 1);
        background: $color;
        background: rgba($color, 0.8) 20px 20px no-repeat;
    }
}

.grid {
    margin: 60px auto;
    padding: 0;
    list-style: none;
    min-height: 400px;
    max-width: 1200px;
    &:nth-child(1){
        margin-bottom: 10px;
    }
    &:nth-child(2){
        margin-top: 5px;
    }
    @include respond-to-mobile {
        margin: 0 !important;;
        width:100% !important;
    }
    &-wrap {
        clear: both;
        margin: 0 auto;
        padding: 0;
        max-width: 1260px;
        @include respond-to-mobile {
            margin-bottom: 0 !important;
        }
        &-separator {
            background: linear-gradient(-45deg, #e1f0fa 16px, red 16px, #e1f0fa 16px, transparent 0), linear-gradient(45deg, #e1f0fa 16px, transparent 0);
            background-position: left top;
            background-repeat: repeat-x;
            background-size: 18px 32px;
            content: " ";
            display: block;
            height: 32px;
            width: 100%;
            position: relative;
            bottom: 0;
            left: 0;
            transform: scaleY(-1);
            &.top {
                top: 0;
            }
            &.reverse {
                transform: scaleY(1);
            }
            &.dark {
                background: linear-gradient(-45deg, #444 16px, red 16px, #444 16px, transparent 0), linear-gradient(45deg, #444 16px, transparent 0);
                background-position: left top;
                background-repeat: repeat-x;
                background-size: 18px 32px;
            }
        }
    }
}

.svg-wrap {
    svg {
        margin-bottom: 30px;
    }
    h3 {
        margin-top: 45px;
        margin-bottom: 30px;
        display: block;
        width: 100%;
        font-size: small;
        color: $PETER_RIVER;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Open sans';
        text-align: center;
    }
    display: block;
    margin: 0 auto;
    .repo-anchor-group {
        .repo-anchor {
            opacity: 0.20;
            cursor: pointer;
            transition: opacity 0.2s ease-out 0s;
        }
        .repo-text {
            opacity: 0;
            font-family: 'Open sans', sans-serif;
            font-weight: bold;
            text-transform: lowercase;
            font-size: small;
            letter-spacing: 1px;
        }
        .repo-rect {
            fill: rgba(0,115,198,0.03);
            opacity: 0;
        }
        &:hover {
            .repo-anchor,
            .repo-text {
                opacity: 1;
            }
            .repo-rect {
                opacity: 1;                
            }
        }
    }
}