@import '../../_shared';
.picture-carousel-preview {
    position: relative;
    height: 200px;
    width: 400px;
    top: 60px;
    &,
    * {
        cursor: zoom-in;
    }
    @include respond-to-mobile {
        display: none;
    }
    .picture-wrapper {
        border-radius: 5px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        .picture-card {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top right;
        }
    }   
}
.picture-carousel-wrapper {
    outline: none;
    &:not(.embeddedCarousel) {
        height: 100vh;
        width:  100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba(#fff, 1);
    }
    &.embeddedCarousel {
        height: 70vh;
        width:  100%;
        @include respond-to-mobile {
            height: 50vh;
            margin-bottom: 30px;
        }
    }
    .picture-control {
        position: absolute;
        height: 80px;
        margin-top: -40px;
        line-height: 80px;
        text-align: center;
        top: 50%;
        width: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include respond-to-mobile {
            height: 36px;
            line-height: 36px;
            width: 36px;
        }
        &:hover {
            background: rgba(#000000, $alpha: 0.05);
            i {
                border-color: #565656;
            }
        }
        i {
            border-bottom: 2px solid #A0A0A0;
            border-left: 2px solid #A0A0A0;
            width: 1em;
            height: 1em;
            display: block;
        }
        &.left {
            left: 0;
            @include respond-to-mobile {
                left: -18px;
            }
            i {
                transform: rotate(45deg) skew(0deg);
                margin-right: -0.5em;
            }
        }
        &.right {
            right: 0;
            @include respond-to-mobile {
                right: -18px;
            }
            i {
                transform: rotate(-135deg) skew(0deg);
                margin-left: -0.5em;
            }
        }
    }
    .close {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -50px;
        width: 100px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: small;
        letter-spacing: 1px;
        cursor: pointer;
        background: rgba(#000000, 0.05);
        color: #565656;
        line-height: 48px;
        text-align: center;
        &:hover {
            background: rgba(#000000, 1);
            color: #fff;
        }
    }
    .picture-footer {
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.embeddedCarouselFooter {
            height: 18px;
            align-items: flex-end;
            @include respond-to-mobile {
                align-items: center;
            }
            .marker {
                position: relative;
                top: 6px;
                @include respond-to-mobile {
                    top: 6px;
                }
            }
        }
        .marker {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            border: 1px solid rgba(#000000, 0.33);
            margin: 0 15px;
            @include respond-to-mobile {
                margin: 0 5px;
            }

            &.active {
                background: rgba(#000000, 0.80);
            }
        }
    }
    .picture-image-wrapper {
        position: relative;
        padding: 30px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        @include respond-to-mobile {
            padding: 0;
            flex-direction: column;
        }
        .img-container {
            flex: 1;
            height: 100%;
            order: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 30px;
            @include respond-to-mobile {
                justify-content: center;
                padding: 0 36px;
            }
        }
        .text-container {
            flex: initial;
            height: 50%;
            order: 2;
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include respond-to-mobile {
                flex: 1;
                width: 100%;
            }
            span {
                display: block;
                max-width: 400px;
                padding: 30px;
                font-weight: 100;
                font-size: 1.5em;
                line-height: 1.5em;
                @include respond-to-mobile {
                    font-size: 1em;
                        line-height: normal;
                        text-align: center;
                        padding: 15px 0;
                        font-weight: 400;
                        width: 100%;
                }
            }
        }
        img {
            max-width: 90%;
            max-height: 90%;
            &.hide-right {
                animation: fade-out-right 0.3s linear forwards 0s;
            }
            &.show-right {
                animation: fade-in-right 0.3s linear forwards 0s;
            }
            &.hide-left {
                animation: fade-out-left 0.3s linear forwards 0s;
            }
            &.show-left {
                animation: fade-in-left 0.3s linear forwards 0s;
            }
        }
    }
}
@keyframes fade-out-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}
@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-out-left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}
@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.zoomIcon {
    cursor: zoom-in;
}