<div class="project-drawer-container visible anim in" data-tag="project-drawer">
    <div class="project-drawer" data-tag="project-drawer-bg" *ngIf="project">
        <div class="project-drawer-content">
            <div class="close" (click)="closeDrawer()">x</div><label data-tag="project-drawer-title">{{project.name}}</label>
            <p data-tag="project-drawer-subtitle">{{project.description}}</p>
            <div class="project-drawer-links">
                <a class="portfolio-btn" *ngIf="project.publishSrc" data-tag="app-link" [attr.href]="project.publishSrc"
                    target="_blank">Visit Website</a>
                <a class="portfolio-btn" *ngIf="project.githubSrc" data-tag="source-code" [attr.href]="project.githubSrc"
                    target="_blank">GitHub</a></div>
            <div data-tag="project-drawer-description" [innerHTML]="project.content">
            </div>
        </div>
    </div>
    <div class="project-drawer-overlay" (click)="closeDrawer()" [style.backgroundColor]="backgroundColor"></div>
</div>