$wisteria: #8e44ad;
$app-primary :  darken(saturate($wisteria, 15), 20);
.app {
    &-header {
        height: 500px;
        width: 100%;
        background: #f0f0f0;
        display: block;
       
    }
}