<div class="project-contents">
    <section class="project-section h100 justifyAlignCenter">
        <div class="section-wrapper alignItemsBottom">
            <div class="left-section">
                <app-team-badge></app-team-badge>
                <h1 style="margin-top: 100px;">Veritas</h1>
                <p style="margin: 0 0 30px 0;">An avatar based intervention against misinformation</p>
                <div class="tags">
                    <div class="tag">
                        <img src="assets/layers.png">
                        <label>design</label>
                    </div>
                    <div class="tag">
                        <img src="assets/research.png">
                        <label>evaluative research</label>
                    </div>
                    <div class="tag">
                        <img src="assets/prototype.png">
                        <label>prototyping</label>
                    </div>
                    <div class="tag">
                        <img src="assets/smartphone.png">
                        <label>react-native</label>
                    </div>
                </div>
            </div>
            <div class="right-section justifyAlignCenter p-l-r-0">
                <div class="marvel-device iphone-x">
                    <div class="notch">
                        <div class="camera"></div>
                        <div class="speaker"></div>
                    </div>
                    <div class="top-bar"></div>
                    <div class="sleep"></div>
                    <div class="bottom-bar"></div>
                    <div class="volume"></div>
                    <div class="overflow">
                        <div class="shadow shadow--tr"></div>
                        <div class="shadow shadow--tl"></div>
                        <div class="shadow shadow--br"></div>
                        <div class="shadow shadow--bl"></div>
                    </div>
                    <div class="inner-shadow"></div>
                    <div class="screen">
                        <div class="player-holder">
                            <video controls crossorigin playsinline id="player">
                                <source src="https://s3.us-east-2.amazonaws.com/asitparida-portfolio/Veritas.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper w100 alignItemsFlexStart">
            <div class="tri-section">
                <h2>What</h2>
                <h3>is the problem ?</h3>
                <p>
                    Dictionary.com’s word of year for 2018 is “<a href="https://www.dictionary.com/e/word-of-the-year/"
                        target="_blank">misinformation</a>". We are trying to mitigate the dissonance created by the
                    "fake" news around us.
                    The propagation of such malicious content can be attributed to our own social circles.
                </p>
            </div>
            <div class="tri-section">
                <h2>Why</h2>
                <h3>is it worth solving ?</h3>
                <p>
                    The rampant spread of “fake” news is due to people seeking out and believing information which
                    aligns with their currently-held attitudes.
                    We blindly trust the source i.e. a friend of ours who re-tweeted or shared the article from
                    somewhere (<a href="https://en.wikipedia.org/wiki/Elaboration_likelihood_model" target="_blank">ELM</a>).
                </p>
            </div>
            <div class="tri-section">
                <h2>How</h2>
                <h3>are we solving it ?</h3>
                <p>
                    We are designing an avatar based mobile game to empower folks against such misinformation.
                    As they progress through this <a href="https://cyberpsychology.eu/article/view/4343/3418" target="_blank">embedded
                        game design</a>, they learn to look at content critically.
                    We are employing multiple persuasive design strategies like fictionalization and obfuscation.
                </p>
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper alignItemsFlexStart w100 p-b-0">
            <div class="tri-section">
                <h2>Literature Review</h2>
                <p>
                    We went through research papers we spoke about the different pathways people receive misinformation
                    and important characteristics of
                    misinformation, especially in the form of blurbs that are “convenient”, “efficient”, and
                    “trustworthy” sources.
                    <br />
                    We took into account papers which spoke of how people were influenced by
                    virtual pets and how they serve as catalysts for behaviour change.
                </p>
            </div>
        </div>
        <div class="section-wrapper alignItemsFlexStart w100">
            <div class="tri-section">
                <h4 class="highlight">Tenet #1</h4>
                <p class="highlight-text">People are susceptible to misinformation due to confirmation bias, motivated
                    reasoning, and the sleeper effect.</p>
            </div>
            <div class="tri-section">
                <h4 class="highlight">Tenet #2</h4>
                <p class="highlight-text">Employ fictionalization and intermixing to prevent psychological reactance.</p>
            </div>
            <div class="tri-section">
                <h4 class="highlight">Tenet #3</h4>
                <p class="highlight-text">Utilizing personalization techniques increase the efficacy of the persuasive
                    message and
                    connection with the user.</p>
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <div class="section-wrapper w100">
            <div class="tri-section w2">
                <h2>Game Design</h2>
                <p>We created a fictional world in which users are given a creature, affectionately called a Worble, to
                    take care of.<br />Throughout the course of the game, users receive information from friends in
                    their
                    pet community on how to take care of their Worble. The correct information will help
                    their Worble grow whereas the malicious ones will make it sick.
                    <br />Users accelerate their experience points as they correctly differentiate between the true and
                    false
                    information.</p>
            </div>
            <div class="tri-section w1 justifyAlignCenter">
                <img src="assets/veritas/worble.gif" />
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <div class="section-wrapper w100 ">
            <div class="tri-section w2">
                <h2>Paper Prototyping</h2>
                <p>
                    The brainstorming sessions put us on a path towards the tamagotchi-like game concept We created
                    multiple fidelities for our initial designs.
                    To help us validate the needs we were addressing, we conducted think aloud sessions on our paper
                    prototypes .
                </p>
                <div class="comments-wrapper">
                    <div class="comment">
                        <h4 class="highlight">User #1</h4>
                        <p class="highlight-text">I think it’s fun and learning how to care for your worble seems like
                            it’ll be really entertaining...</p>
                    </div>
                    <div class="comment">
                        <h4 class="highlight">User #2</h4>
                        <p class="highlight-text">I loved decorating the creature.</p>
                    </div>
                </div>
            </div>
            <div class="tri-section w1 justifyAlignCenter">
                <img class="boxed" src="assets/veritas/worble_paperproto_testing.jpg" />
            </div>
        </div>
    </section>
    <section class="project-section h50 justifyAlignCenter">
        <div class="section-wrapper w100 alignItemsBottom">
            <div class="tri-section w2">
                <h2>iOS App</h2>
                <p>
                    After three iterations of testing our fidelities, we chose react-native for digital prototyping.
                    The platform was new to us but offered a little bit of familiarity with its use of flex-based
                    layouts.
                    The richer native integrations, like using accelerometer for detecting a shake gesture, has been
                    well-received.
                </p>
                <button class="project-section-btn" (click)="watchVideo()">Watch Video</button>
            </div>
            <div class="tri-section w1">
                <app-picture-carousel></app-picture-carousel>
            </div>
        </div>
    </section>
    <section class="project-section h20 justifyAlignCenter">
        <div class="section-wrapper w100 footer-section">
            <div class="tri-section w2">
                <h4>Team Members</h4>
                <p>
                    <a href="https://medium.com/@gabygayles" target="_blank">Gaby Gayles,</a> <a href="https://medium.com/@dylanssmith10" target="_blank">Dylan Smith,</a> <a href="https://medium.com/@katherinehjiang" target="_blank">Katherine Jiang,</a> <a href="https://medium.com/@duncan.katelynj" target="_blank">Katelyn Duncan,</a> <a href="https://medium.com/@lenali" target="_blank">Lena Li</a>
                </p>
            </div>
            <div class="tri-section w1 justifyAlignFlexStart">
                    <h4>Credits</h4>
                    <p>
                        <a href="https://www.flaticon.com/" target="_blank">Flat Icon</a>
                    </p>
            </div>
        </div>
    </section>
</div>