<div class="project-contents">
    <div class="marvel-device macbook">
        <div class="top-bar"></div>
        <div class="camera"></div>
        <div class="screen">
            <div class="player-holder">
                <video controls crossorigin playsinline id="player">
                    <source src="https://s3.us-east-2.amazonaws.com/asitparida-portfolio/NotSoGreyDefn.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="bottom-bar"></div>
    </div>
</div>