<section class="grid-wrap">
    <div class="project-drawer-container out" data-tag="project-drawer" [attr.id]="drawerId">
        <div class="project-drawer" data-tag="project-drawer-bg">
            <div class="close" (click)="closeProjectDrawer()">x</div>
            <label data-tag="project-drawer-title"></label>
            <a class="project-links" href="" target="_blank" data-tag="app-link">Visit Website</a>
            <a class="project-links" href="" target="_blank" data-tag="source-code">Source Code</a>
            <p data-tag="project-drawer-description"></p>
        </div>
    </div>
    <ul class="grid loaded swipe-down assign-grid-width assign-opacity" data-tag="dark-mode-applicable">
        <li data-color="$TURQUOISE" class="grid-item shown" id="pro_999" size="double">
            <a target="_blank" data-tag="take-width" (click)="openProjectDrawer(LEANCASE)">
                <div class="grid-item-content-container" data-tag="take-bg">
                    <img class="highlight-demo-pic" deferLoad src="assets/project-logos/lean-case.png" />
                </div>
                <div class="grid-item-text-container" size="double">
                    <div class="grid-item-text-container-box">
                        <h3>Lean-Case</h3>
                        <p class="full">a fintech app to plan and model day-to-day business operations and revenue subscriptions</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="grid swipe-down" id="grid" data-tag="dark-mode-applicable">
        <li *ngFor="let item of projects; let i = index;" [attr.data-color]="item.bgColor" class="grid-item" [attr.id]="item.id">
            <a target="_blank" (click)="openProjectDrawer(item)">
                <div class="grid-item-content-container" data-tag="take-bg">
                    <img deferLoad [style.width]="item.width" [style.height]="item.height" [attr.data-tag-lazy]="item.imgSrc" />
                </div>
                <div class="grid-item-text-container" [attr.data-hoverbg]="item.hoverbg" [attr.size]="item.size">
                    <div class="grid-item-text-container-box">
                        <h3>{{item.name}}</h3>
                        <p>{{item.description}}</p>
                        <git-link [link]="item.githubSrc"></git-link>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="clear-xs-both"></div>
</section>