$EMERALD: #2ecc71;
$TURQUOISE: #1abc9c;
$PETER_RIVER: #3498db;
$AMETHYST: #9b59b6;
$SUNFLOWER: #f1c40f;
$CARROT: #e67e22;
$ALIZARIN: #e74c3c;
$ORANGE: #f39c12;
$PUMPKIN: #d35400;
$POMEGRANATE: #c0392b;
$WISTERIA: #8e44ad;
$BELIZE_HOLE: #2980b9;
@mixin INSERT_HOVER_BGS($color, $lightenAmount) {
    .content-container {
        background-color: lighten($color, $lightenAmount);
    }
    .img-container:hover {
        -webkit-box-shadow: 0px 13px 71px -2px rgba($color, 1);
        -moz-box-shadow: 0px 13px 71px -2px rgba($color, 1);
        box-shadow: 0px 13px 71px -2px rgba($color, 1);
        background: $color;
        background: rgba($color, 0.8) 20px 20px no-repeat;
    }
}

.grid {
    margin: 30px auto;
    padding: 0;
    list-style: none;
    min-height: 500px;
    &-wrap {
        clear: both;
        margin: 0 auto 100px auto;
        padding: 0;
        max-width: 1260px;
        &-separator {
            background: linear-gradient(-45deg, #fff 16px, red 16px, #fff 16px, transparent 0), linear-gradient(45deg, #fff 16px, transparent 0);
            background-position: left top;
            background-repeat: repeat-x;
            background-size: 18px 32px;
            content: " ";
            display: block;
            height: 32px;
            width: 100%;
            position: relative;
            bottom: 32px;
            left: 0;
        }
    }
    &.loaded {
        background: none;
        li {
            display: inline-block;
            float: left;
            .img-container {
                visibility: hidden;
            }
        }
    }
    &:not(.loaded) {
        li {
            display: none;
            float: left;
        }
    }
    li {
        width: 400px;
        padding: 5px;
        box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        vertical-align: top;
        &[size="double"] {
            width: 100%;
        }
        a {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            opacity: 1;
            background-size: cover;
            background: url(../../assets/tile-watermark.png) #fff;
            background-repeat: repeat;
        }
        >a {
            display: block;
            outline: none;
            border: none;
            position: relative;
            margin: 0;
        }
        &[data-color="$PETER_RIVER"] {
            @include INSERT_HOVER_BGS($PETER_RIVER, 40)
        }
        &[data-color="$EMERALD"] {
            @include INSERT_HOVER_BGS($EMERALD, 40)
        }
        &[data-color="$TURQUOISE"] {
            @include INSERT_HOVER_BGS($TURQUOISE, 40)
        }
        &[data-color="$AMETHYST"] {
            @include INSERT_HOVER_BGS($AMETHYST, 40)
        }
        &[data-color="$SUNFLOWER"] {
            @include INSERT_HOVER_BGS($SUNFLOWER, 40)
        }
        &[data-color="$CARROT"] {
            @include INSERT_HOVER_BGS($CARROT, 40)
        }
        &[data-color="$ALIZARIN"] {
            @include INSERT_HOVER_BGS($ALIZARIN, 40)
        }
        &[data-color="$ORANGE"] {
            @include INSERT_HOVER_BGS($ORANGE, 40)
        }
        &[data-color="$PUMPKIN"] {
            @include INSERT_HOVER_BGS($PUMPKIN, 40)
        }
        &[data-color="$POMEGRANATE"] {
            @include INSERT_HOVER_BGS($POMEGRANATE, 40)
        }
        &[data-color="$WISTERIA"] {
            @include INSERT_HOVER_BGS($WISTERIA, 40)
        }
        &[data-color="$BELIZE_HOLE"] {
            @include INSERT_HOVER_BGS($BELIZE_HOLE, 40)
        }
        .content-container {
            height: 400px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 9;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 80%; // display: none;
            }
        }
        .img-container {
            height: 400px;
            width: 100%;
            display: block;
            outline: none;
            border: none;
            position: relative;
            z-index: 10;
            &[size="single"] {
                height: 400px;
            }
            &[size="double"] {
                height: 605px;
            }
        }
        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 20px;
            width: 100%;
            font-family: 'Open sans', sans-serif;
            font-weight: 500;
            color: #000;
            text-align: left;
            text-transform: capitalize;
            letter-spacing: 1px;
            box-sizing: border-box;
            font-size: large;
            transition: transform 0.2s, color 0.2s;
        }
        &:not(.shown) {
            overflow: hidden;
            a {
                border: 1px dashed #E0E0E0;
            }
        }
        &.shown {
            .content-container {
                animation: show-container 1s linear forwards;
            }
            .img-container {
                visibility: visible;
            }
            .curtain {
                transform: translate3d(0, 0, 0);
            }
        }
        &.animate {
            .content-container {
                animation: add-background 0.5s linear forwards;
            }
            .img-container {
                animation: show-container 0.5s step-end forwards;
            }
        }
    }
    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        width: 100%;
        height: 100%;
        background: #f0f0f0 !important;
    }
    &.swipe-down {
        .curtain {
            transform: translate3d(0, -120%, 0);
        }
        li.animate .curtain {
            animation: swipeDown 1s cubic-bezier(0.6, 0, 0.4, 1) forwards;
        }
    }
}

@keyframes swipeDown {
    0% {}
    50% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(0, -120%, 0);
    }
    100% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeOut {
    0% {}
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {}
    50% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes showMe {
    from {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@keyframes showMe {
    from {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@keyframes show-container {
    from {
        opacity: 0;
        transform: translateY(-25px)
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes add-background {
    0% {
        background: rgba(1, 1, 1, 0);
    }
    100% {
        background: rgba(1, 1, 1, 1);
    }
}

@keyframes hide-container {
    0%,
    90% {
        display: block;
    }
    100% {
        display: none;
    }
}