.navigation {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #fff;
    transition: transform 0.3s ease-out 0s;
    &.out-of-view {
        transform: translateY(-100%);
    }
    ul {
        width: 100%;
        white-space: nowrap;
        list-style: none;
        display: flex;
        flex-flow: row;
        justify-content: center;
        &:hover {
            opacity: 1;
        }
        li {
            margin: 0;
            a {
                padding: 0 30px;
                text-decoration: none;
                font-weight: 500;
                text-transform: capitalize;
                font-size: medium;
                color: #565656;
                line-height: 60px;
                height: 60px;
                display: inline-block;
                vertical-align: middle;
                min-width: 120px;
                text-align: center;
                outline: none;
                &:hover {
                    background: rgba(0, 0, 0, 0.03)
                }
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &.active-link {
                    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}