@import '../../_shared';
.navigation {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background: #fff;
    transition: transform 0.3s ease-out 0s;
    @include respond-to-mobile {
        height: 80px;
    }
    &.out-of-view {
        transform: translateY(-1000%);
    }
    ul {
        width: 100%;
        white-space: nowrap;
        list-style: none;
        display: flex;
        flex-flow: row;
        justify-content: center;
        &:hover {
            opacity: 1;
        }
        @include respond-to-mobile {
            padding: 0;
            margin: 0;
        }
        li {
            background: #fff;
            @include respond-to-mobile {
                &.hidden-xs {
                    display: none !important;
                }
                flex: 1;
            }
            margin: 0;
            position: relative;
            height: 60px;
            @include respond-to-mobile {
                width: 25%;
                height: 80px;
            }
            &.featured-link {
                cursor: pointer;
                position: relative;
                > a {
                    pointer-events: none;
                    background: #fff;
                    position: relative;
                }
                ul.submenu {
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
                    position: absolute;
                    white-space: normal;
                    padding: 0;
                    top: 59px;
                    flex-flow: column;
                    width: 250px;
                    z-index: 1;
                    animation: slide-fade-in 0.2s ease-out forwards 0s;
                    @include respond-to-mobile {
                        width: 100vw !important;
                        top: 79px;
                    }
                    li {
                        width: 100%;
                        @include respond-to-mobile {
                            height: 60px;
                        }
                        a {
                            width: 100%;
                            display: block;
                            background: #fff;
                            white-space: nowrap;
                            padding: 0 15px;
                            border-left: 3px solid rgba(0, 0, 0, 0.00);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.03);
                            &.active-link {
                                border-left-color: rgba(0, 0, 0, 0.5);
                            }
                            @include respond-to-mobile {
                                height: 60px;
                                line-height: 60px;
                            }
                        }
                    }
                }
            }
            a {
                padding: 0;
                text-decoration: none;
                font-weight: 500;
                text-transform: capitalize;
                font-size: medium;
                color: #909090;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                outline: none;
                z-index: 1;
                background: #fff;
                @include respond-to-mobile {
                    width: 100%;
                    line-height: 80px;
                    height: 80px;
                }
                @include respond-to-except-mobile {
                    min-width: 120px;
                    line-height: 60px;
                    height: 60px;
                }
                img {
                    width: 24px;
                    vertical-align: middle;
                    opacity: 0.50;
                    margin-top: -26px;
                    @include respond-to-except-mobile {
                        display: none;
                    }
                }
                &.active-link {
                    z-index: 2;
                    img {
                        opacity: 1;
                    }
                    span {
                        color: #000;
                    }
                }
                span {
                    width: 100%;
                    display: inline-block;
                    padding: 0 30px;
                    @include respond-to-mobile {
                        position: absolute;
                        bottom: 14px;
                        font-size: small;
                        left: 0;
                        line-height: 24px;
                        text-align: center;
                        padding: 0;
                    }
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.03)
                }
                &.first-level {
                    &:after {
                        content: '';
                        width: 100%;
                        bottom: 0;
                        height: 3px;
                        background: rgba(0, 0, 0, 0.03);
                        border-radius: 3px;
                        display: block;
                        z-index: 1;
                        position: absolute;
                    }
                }
            }
        }
        &.left {
            a.active-link.first-level {
                &:after {
                    content: '';
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 3px;
                    display: block;
                    animation: fill-in-from-left 0.5s ease-out forwards 0s;
                    z-index: 5;
                    position: absolute;
                }
            }
        }
        &.right {
            a.active-link.first-level {
                &:after {
                    content: '';
                    right: 0;
                    width: 100%;
                    bottom: 0;
                    height: 3px;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 3px;
                    display: block;
                    animation: fill-in-from-right 0.5s ease-out forwards 0s;
                    z-index: 5;
                    position: absolute;
                }
            }
        }
    }
}
@keyframes fill-in-from-left {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fill-in-from-right {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slide-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}