<div class="navigation" [attr.id]="navigationBarId">
    <ul [ngClass]="directionFill">
        <li>
            <a [routerLink]="['home']" routerLinkActive="active-link"><span>Home</span><img src="assets/navigation/outline_home_black_36dp.png" /></a>
        </li>
        <li>
            <a [routerLink]="['featured']" routerLinkActive="active-link"><span>Featured</span><img src="assets/navigation/outline_home_black_36dp.png" /></a>
        </li>
        <li>
            <a [routerLink]="['other-projects']" routerLinkActive="active-link"><span>Projects</span><img src="assets/navigation/outline_widgets_black_36dp.png" /></a>
        </li>
        <li>
            <a [routerLink]="['tools']" routerLinkActive="active-link"><span>Skills</span><img src="assets/navigation/outline_games_black_36dp.png" /></a>
        </li>
        <li>
            <a [routerLink]="['about-me']" routerLinkActive="active-link"><span>About Me</span><img src="assets/navigation/outline_mood_black_36dp.png" /></a>
        </li>
    </ul>
</div>