<div class="navigation" [attr.id]="navigationBarId">
    <ul [ngClass]="directionFill">
        <li>
            <a class="first-level" [routerLink]="['home']" routerLinkActive="active-link"><span>Home</span><img src="assets/navigation/outline_home_black_36dp.png" /></a>
        </li>
        <li class="featured-link" (click)="toggleFeaturedSubMenu()">
            <a class="first-level" [routerLink]="['featured']" routerLinkActive="active-link"><span>Projects</span><img
                    src="assets/navigation/outline_widgets_black_36dp.png" /></a>
            <ng-container *ngIf="!featuredSubMenuHidden">
                <ul class="submenu" [attr.id]="featuredSubMenuId" [style.left]="leftAdjust" (clickOutside)="onClickOutside()" >
                    <li>
                        <a [routerLink]="['featured/veritas']" routerLinkActive="active-link">Veritas</a>
                    </li>
                    <li>
                        <a [routerLink]="['featured/idiff']" routerLinkActive="active-link">iDiff</a>
                    </li>
                    <li>
                        <a [routerLink]="['featured/transit-display']" routerLinkActive="active-link">Transit Hub
                            Display</a>
                    </li>
                    <li>
                        <a [routerLink]="['featured/bun-bun']" routerLinkActive="active-link">Bun Bun Bakery</a>
                    </li>
                </ul>
            </ng-container>
        </li>
        <li class="hidden-xs">
            <a class="first-level" [routerLink]="['other-projects']" routerLinkActive="active-link"><span>Archives</span><img
                    src="assets/navigation/outline_widgets_black_36dp.png" /></a>
        </li>
        <li class="hidden-xs">
            <a class="first-level" [routerLink]="['tools']" routerLinkActive="active-link"><span>Skills</span><img src="assets/navigation/outline_games_black_36dp.png" /></a>
        </li>
        <li>
            <a class="first-level" [routerLink]="['about-me']" routerLinkActive="active-link"><span>About Me</span><img
                    src="assets/navigation/outline_mood_black_36dp.png" /></a>
        </li>
    </ul>
</div>