<anchorage-holder></anchorage-holder>
<div class="project-contents">
    <section class="project-section h100Adjusted justifyAlignCenter">
        <span data-type="anchor-elem">Introduction</span>
        <div class="section-wrapper alignItemsCenter">
            <div class="left-section alignItemsFlexEnd">
                <h1 style="margin-top: 0px;">Veritas</h1>
                <p style="margin: 0 0 30px 0;">An intervention to combat misinformation</p>
                <div class="tags flexEnded">
                    <div class="tag">
                        <img data-lazy-load="true" src="assets/research.png">
                        <label>evaluative research</label>
                    </div>
                    <div class="tag">
                        <img data-lazy-load="true" src="assets/prototype.png">
                        <label>prototyping</label>
                    </div>
                    <div class="tag">
                        <img data-lazy-load="true" src="assets/smartphone.png">
                        <label>react-native</label>
                    </div>
                </div>
            </div>
            <div class="right-section justifyAlignCenter p-l-r-0">
                <div class="tri-section w1 justifyAlignCenter">
                    <img data-lazy-load="true" src="assets/gifs/veritas.gif" style="max-height: 500px" />
                </div>
            </div>
            <div class="content-available-below-fold">
                <img data-lazy-load="true" src="assets/arrow_upward.png" />
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <span data-type="anchor-elem">Research</span>
        <div class="section-wrapper w100 alignItemsFlexStart">
            <div class="tri-section">
                <h2>What</h2>
                <h3>is the problem ?</h3>
                <p>
                    Dictionary.com’s word of year for 2018 is “<a href="https://www.dictionary.com/e/word-of-the-year/"
                        target="_blank">misinformation</a>". We are trying to mitigate the dissonance created by the
                    "fake" news around us. But such malicious content is propagated through our social circles.
                </p>
            </div>
            <div class="tri-section">
                <h2>Why</h2>
                <h3>is it worth solving ?</h3>
                <p>
                    The rampant spread of “fake” news is due to people seeking out and believing information which
                    aligns with their currently-held attitudes. We blindly trust the source, i.e., a friend of ours who
                    re-tweeted or shared the article from somewhere (<a
                        href="https://en.wikipedia.org/wiki/Elaboration_likelihood_model" target="_blank">ELM</a>).
                </p>
            </div>
            <div class="tri-section">
                <h2>How</h2>
                <h3>are we solving it ?</h3>
                <p>
                    We are designing an avatar-based mobile game to empower folks against such misinformation. As they
                    progress through this <a href="https://cyberpsychology.eu/article/view/4343/3418"
                        target="_blank">embedded
                        game design</a>, they learn to look at content critically. We are employing multiple persuasive
                    design strategies like fictionalization and obfuscation.
                    We are designing an avatar based mobile game to empower folks against such misinformation.
                </p>
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper alignItemsFlexStart w100 p-b-0">
            <div class="tri-section">
                <h2>Literature Review</h2>
                <p>
                    We went through research papers we spoke about the different pathways people receive misinformation
                    and essential characteristics of misinformation, especially in the form of blurbs that are
                    “convenient,” “efficient,” and “trustworthy” sources. We took into account papers which spoke of
                    how virtual pets influenced people and how they serve as catalysts for behavior change.
                </p>
            </div>
        </div>
        <div class="section-wrapper alignItemsFlexStart w100">
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Tenet #1</h4>
                <p class="highlight-text">People are susceptible to misinformation due to confirmation bias, motivated
                    reasoning, and the sleeper effect.</p>
            </div>
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Tenet #2</h4>
                <p class="highlight-text">Employ fictionalization and intermixing to prevent psychological reactance.
                </p>
            </div>
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Tenet #3</h4>
                <p class="highlight-text">Utilizing personalization techniques increase the efficacy of the persuasive
                    message and connection with the user.</p>
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <span data-type="anchor-elem">Game Design</span>
        <div class="section-wrapper w100">
            <div class="tri-section w2">
                <h2>Game Design</h2>
                <p>We created a fictional world in which users are asked to take care of a creature, affectionately
                    called a Worble.
                    Throughout the game, users receive information from friends in their pet community on how to take
                    care of their Worble. The correct information will help their Worble grow whereas the malicious
                    ones will make it sick.
                    Users accelerate their experience points as they correctly differentiate between the actual and
                    false information.</p>
            </div>
            <div class="tri-section w1 justifyAlignCenter">
                <img data-lazy-load="true" src="assets/veritas/worble.gif" />
            </div>
        </div>
    </section>
    <section class="project-section h75 justifyAlignCenter">
        <div class="section-wrapper w100 ">
            <div class="tri-section w2">
                <h2>Paper Prototyping</h2>
                <p>
                    The brainstorming sessions put us on a path towards the Tamagotchi-like game concept. We created
                    multiple fidelities for our initial designs. To help us validate the needs we were addressing, we
                    conducted think-aloud sessions on our paper prototypes.
                </p>
                <div class="comments-wrapper">
                    <div class="comment">
                        <h4 class="highlight">User #1</h4>
                        <p class="highlight-text">I think it’s fun and learning how to care for your worble seems like
                            it’ll be entertaining...</p>
                    </div>
                    <div class="comment">
                        <h4 class="highlight">User #2</h4>
                        <p class="highlight-text">I loved decorating the creature...</p>
                    </div>
                </div>
            </div>
            <div class="tri-section w1 justifyAlignCenter">
                <img imgZoomer data-lazy-load="true" class="boxed" src="assets/veritas/worble_paperproto_testing.jpg" />
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <span data-type="anchor-elem">Digital Prototyping</span>
        <div class="section-wrapper alignItemsFlexStart w100 p-b-0">
            <div class="tri-section">
                <h2>Choosing React-Native</h2>
                <p>
                    With the scope of the prototype decided and the game sceens fleshed out, the next task was to pick up the right framework
                    to build the initial version for the app and test with participants. Building on my experience of working in cross-functional
                    teams, I started gathering all the data points to help the team choose the most <strong>affordable</strong> toolkit.
                </p>
            </div>
        </div>
        <div class="section-wrapper alignItemsFlexStart w100">
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Web vs Native</h4>
                <p class="highlight-text">We had to go native because however well the web version of the game could be built, the <strong>look and feel</strong> of an native app, executed correctly, would accentuate the game experience.</p>
            </div>
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Learning curve for team</h4>
                <p class="highlight-text">The entire team wanted to contribute in coding. I felt react-native offered <strong>a little bit of familiarity</strong> as their most recent experience with prototyping had come in the form of the HTML5 programming class.
                </p>
            </div>
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">HTML5 Syntax</h4>
                <p class="highlight-text">Using the similar mark-up syntax offered <strong>the structural scaffolding</strong> for us and not learn the entire visual hierarchy of the app development process.</p>
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper alignItemsFlexStart w100 p-b-0">
            <div class="tri-section">
                <h2>App Lifecycle</h2>
                <p>
                    I broke down the overall structure into three parts so as to ease interactions flows. The standalone pages would be active one at a time with other elements either overlaying full-page or partially.
                    Throughout the game, user had to be aware of the current context. This translated to managing the state of the game as close as possible. <strong>Mirroring the app lifecyle to game design</strong> was essential to me.
                </p>
                <img imgZoomer data-lazy-load="true" class="boxed section-image-bleed"
                    src="assets/veritas/veritas-app-structure.jpg" />
            </div>
        </div>
        <div class="section-wrapper alignItemsFlexStart w100">
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Game States to UI States</h4>
                <p class="highlight-text">With this my first game design, I learnt how most of the game development involved <strong>reflecting the current state</strong> in the game pipeline.</p>
            </div>
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Flex based layouts</h4>
                <p class="highlight-text">Perhaps the sweetest thing about reusing the know-how of HTML5 structures, thinking of every UI frame and component in terms of flex-based layout helped in <strong>building responsivenes out-of-box</strong>.</p>
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper alignItemsFlexStart w100 p-b-0">
            <div class="tri-section">
                <h2>Using Observables for pipeline</h2>
                <p>
                    Since the app was a prototype with no back-end, I decided to go for a <strong>emitter-subscriber pattern</strong> fits in well as the same can be updated to listen to back-end events and update the game UI.
                    I used <strong>RxJS based reactive programming</strong> for triggering several microinteractions.
                    
                </p>
                <img imgZoomer data-lazy-load="true" class="boxed section-image-bleed"
                    src="assets/veritas/veritas-app-states.jpg" />
            </div>
        </div>
        <div class="section-wrapper alignItemsFlexStart w100">
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">During state activation</h4>
                <p class="highlight-text">When any state gets activated, the <strong>game UI</strong> is updated, the <strong>available actions</strong> get updated and the <strong>subsequent event listeners</strong> are setup.</p>
            </div>
            <div class="tri-section comments-wrapper-section">
                <h4 class="highlight">Triggering Event</h4>
                <p class="highlight-text">This is achieved through taking an action, for e.g. feeding the worble, shaking the phone. Both <strong>UI clicks</strong> and <strong>native sensor actions</strong> can trigger events. </p>
            </div>
        </div>
    </section>
    <section class="project-section alignItemsCenter h75">
        <div class="section-wrapper alignItemsFlexStart w100">
            <div class="tri-section">
                <h2>Applying Motion</h2>
                <p>
                    Once the flow of the game was in place, I started animating components to direct user's attention towards it. The same interactions provide <strong>the necessary fluidity</strong> to the UI in general.
                </p>
                <app-picture-carousel inplaceCarouselWrapperClass="transit-hand-drawn-inplace-carousel"
                    [embeddedCarousel]="true" [bottomStagger]="true"
                    [useVideo]="true" [useDeviceSkin]="true"
                    carouselWrapperClass="transit-hand-drawn-place-carousel" [items]="animationCarouselItems">
                </app-picture-carousel>
            </div>
        </div>
    </section>
    <section class="project-section h50 justifyAlignCenter">
        <div class="section-wrapper w100 alignItemsBottom">
            <div class="tri-section w2">
                <h2>iOS App</h2>
                <p>
                    Further, I used <strong>native iOS capabilities</strong>, like using the accelerometer for detecting a shake, to enhance the game experience.
                    After multiple iterations of design and parallel development cycles, we tested our app. We had favourable reviews with excellent critiques from the studio audience.
                </p>
                <button class="portfolio-btn" (click)="watchVideo()">Watch Video</button>
            </div>
            <div class="tri-section w1">
                <app-picture-carousel [items]="pictureCarouselItems"></app-picture-carousel>
            </div>
        </div>
    </section>
    <section class="project-section h20 justifyAlignCenter">
        <div class="section-wrapper w100 footer-section">
            <div class="tri-section w2">
                <h4>Other Team Members</h4>
                <p>
                    <a href="https://medium.com/@gabygayles" target="_blank">Gaby Gayles,</a> <a
                        href="https://medium.com/@dylanssmith10" target="_blank">Dylan Smith,</a> <a
                        href="https://medium.com/@katherinehjiang" target="_blank">Katherine
                        Jiang,</a> <a href="https://medium.com/@duncan.katelynj" target="_blank">Katelyn Duncan,</a> <a
                        href="https://medium.com/@lenali" target="_blank">Lena Li</a>
                </p>
            </div>
            <div class="tri-section w1 justifyAlignFlexStart">
                <h4>Credits</h4>
                <p>
                    <a href="https://www.flaticon.com/" target="_blank">Flat Icon</a>
                </p>
            </div>
        </div>
        <div class="section-wrapper w100 footer-section projects-hyperlinks hidden-xs">
            <div class="projects-hyperlinks-content">
                <a class="project-nav-link" [routerLink]="['/home']"><img src="assets/keyboard_left.png" /><span
                        class="text"><span class="text-uppercase override">Home</span></span></a>
                <a class="project-nav-link" [routerLink]="['/featured/idiff']"><span class="text"><span
                            class="text-uppercase">Next Project:</span> IDiff </span><img class="right"
                        src="assets/keyboard_left.png" /></a>
            </div>
        </div>
    </section>
</div>
<div class="prototype-viewer" *ngIf="showProtoTypeViewer" (keyup.escape)=" showProtoTypeViewer = false;" tabindex="0">
    <div class="close" (keyup.enter)=" showProtoTypeViewer = false;" (click)=" showProtoTypeViewer = false;">Close</div>
    <div class="marvel-device iphone-x">
        <div class="notch">
            <div class="camera"></div>
            <div class="speaker"></div>
        </div>
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="bottom-bar"></div>
        <div class="volume"></div>
        <div class="overflow">
            <div class="shadow shadow--tr"></div>
            <div class="shadow shadow--tl"></div>
            <div class="shadow shadow--br"></div>
            <div class="shadow shadow--bl"></div>
        </div>
        <div class="inner-shadow"></div>
        <div class="screen">
            <div class="player-holder">
                <video controls crossorigin playsinline id="player">
                    <source src="https://s3.us-east-2.amazonaws.com/asitparida-portfolio/Veritas.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>