<section class="grid-wrap">
    <div class="timeline">
        <p class="info hidden-on-xs">I have worked closely with UX designers and usability experts to learn the nuances of great user experiences. My
            core skills include developing responsive, adaptive and accessible web and native apps using HTML, SCSS, JavaScript,
            Angular, Knockout JS, Electron etc. I have also managed UI deliveries for the projects. Apart from my work, I
            do spend time exploring new frameworks by building kitchen-sink apps. I do love investing time in the new UI
            development trends, data visualization libraries and developing plugins. My focus has been performance and extensibility
            which has enabled me to contribute and impact across multiple projects. I also have experience building SVG animations
            using GSAP and am comfortable with Photoshop & Illustrator. Apart from my core skills, I am a full-stack developer
            with experience in developing back-ends with .NET and SQL Server. </p>
        <p class="info shown-on-xs">I have worked closely with UX designers and usability experts to learn the nuances of great user experiences. My
            core skills include developing responsive and accessible web apps using HTML5 and JavaScript. I have managed
            UI deliveries for the projects. Apart from my work, I do spend time exploring new frameworks and building kitchen-sink
            apps. I do love investing time in data visualization libraries and developing plugins. My focus has been performance
            and extensibility which has enabled me to contribute and impact across multiple projects. Apart from my core
            skills, I am a full-stack developer with experience in developing back-ends with .NET and SQL Server. </p>
        <div class="timeline-content">
            <div class="stop">
                <img src="assets/education.png" />
                <div class="stop-content">
                    <div class="stop-title">Education</div>
                    <div class="stop-details">
                        <label>
                            <strong>Master's degree</strong> (2018 - present)</label>
                        <p>Pursuing my master's degree in Human Computer Interaction at Carnegie Mellon University, Pittsburgh, PA.</p>
                    </div>
                    <div class="stop-details">
                        <label>
                            <strong>Bachelor of Technology</strong> (2009 - 2013)</label>
                        <p>Completed my undergrduation from National Institute of Technology, Rourkela with my major in Electroncis
                            & Communication Engineering.</p>
                    </div>
                </div>
            </div>
            <div class="stop">
                <img src="assets/coffee.png" />
                <div class="stop-content">
                    <div class="stop-title">Work Experience</div>
                    <div class="stop-details">
                        <label>
                            <strong>VMware</strong> (March 2018 - July 2018)</label>
                        <p>As part of the cloud automation team, I worked on revamping the legacy user interfaces using
                            modern web frameworks. I also contributed to the in-house design language concerning accessibility
                            and internationalization needs for any interface</p>
                    </div>
                    <div class="stop-details">
                        <label>
                            <strong>Microsoft</strong> (July 2013 to March 2017)</label>
                        <p>As part of the Microsoft UX team, I developed desktop and native app experiences using web technologies
                            and UI frameworks like Angular, React, and Bootstrap, etc. and created shell frameworks for LOB
                            applications using modern design guidelines. I managed UI deliveries for a 25 member team and
                            oversaw project execution with a focus on performance, customer experience, extensibility, and
                            accessibility
                        </p>
                    </div>
                    <div class="stop-details">
                        <label>
                            <strong>Defence Research & Development Organization</strong> (Govt. Of India, May 2012 - July 2012)</label>
                        <p>Summer Internship in communications division at Interim Test Range, Chandipur</p>
                    </div>
                </div>
            </div>
            <div class="stop">
                <img src="assets/awards.png" />
                <div class="stop-content noPaddingBottom">
                    <div class="stop-title">Awards & Achievements</div>
                    <div class="stop-details">
                        <label>
                            <strong>Professional and Academic</strong>
                        </label>
                        <ul>
                            <li>Microsoft IT Excellence 'Do great work' award for outstanding individual contribution in delivering
                                modern experience</li>
                            <li>VMware certificate for excellence for recognizing individual contribution in deliveing new product
                                experience
                            </li>
                            <li>Secured a rank in Top 20 in the country for AISSE high school examinations and was awarded
                                    the CBSE Certificate of Merit</li>
                        </ul>
                    </div>
                    <div class="stop-details">
                        <label>
                            <strong>Extracurricular Activities</strong>
                        </label>
                        <ul>
                            <li>Chief Student Convener for International Students Meet 2012 in NIT Rourkela with student participation
                                from over 4 continents</li>
                            <li>General Secretary for Student Activity Center appointed by Director, NIT Rourkela</li>
                            <li>1st position in Orissa State Disaster Preparedness Day Quiz
                            </li>
                            <li>2nd position in All India School Leadership Program convened by Oracle’s Think.com education
                                foundation
                            </li>
                            <li>4th position in Kendriya Vidyalaya Sangathan's National Level Social Science Exhibition Quiz and National
                                Level Science Exhibition Quiz </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>