/* You can add global styles to this file, and also import other style files */

@import 'shared';
@import 'device';
* {
    box-sizing: border-box;
}
.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

@media (max-width: 768px) {
    .hidden-on-xs {
        display: none !important;
    }
}
@media (min-width: 769px) {
    .shown-on-xs {
        display: none !important;
    }
}
@function to-string($value) {
    @return inspect($value);
}

@mixin COLORED_BG($color, $lightenAmount) {
    background-color: #fff;
    /deep/ .project-contents .project-section {
        &:nth-child(2n + 2) {
            background-color: lighten(lighten($color, $lightenAmount), 5) !important;
        }   
    }
    /deep/ .arrow-holder {
        background: lighten($color, $lightenAmount);
        box-shadow: 0px 2px 4px rgba($color,0.75);
    }
}

html {
    font-family: 'Open sans', sans-serif;
    transition: background-color 0.5s linear 0s;
    &[data-color="$PETER_RIVER"] {
        @include COLORED_BG($PETER_RIVER, 40)
    }
    &[data-color="$EMERALD"] {
        @include COLORED_BG($EMERALD, 40)
    }
    &[data-color="$NEPHRITIS"] {
        @include COLORED_BG($NEPHRITIS, 40)
    }
    &[data-color="$TURQUOISE"] {
        @include COLORED_BG($TURQUOISE, 40)
    }
    &[data-color="$AMETHYST"] {
        @include COLORED_BG($AMETHYST, 40)
    }
    &[data-color="$SUNFLOWER"] {
        @include COLORED_BG($SUNFLOWER, 40)
    }
    &[data-color="$CARROT"] {
        @include COLORED_BG($CARROT, 40)
    }
    &[data-color="$ALIZARIN"] {
        @include COLORED_BG($ALIZARIN, 35)
    }
    &[data-color="$ORANGE"] {
        @include COLORED_BG($ORANGE, 40)
    }
    &[data-color="$PUMPKIN"] {
        @include COLORED_BG($PUMPKIN, 40)
    }
    &[data-color="$POMEGRANATE"] {
        @include COLORED_BG($POMEGRANATE, 40)
    }
    &[data-color="$WISTERIA"] {
        @include COLORED_BG($WISTERIA, 43)
    }
    &[data-color="$BELIZE_HOLE"] {
        @include COLORED_BG($BELIZE_HOLE, 47);
    }
    &[data-color="$NONE"] {
        background-color: #fff;
        /deep/ .project-contents .project-section {
            &:nth-child(2n + 2) {
                background-color: #fff !important;
            }   
        }
        /deep/ .arrow-holder {
            background: #fff;
            box-shadow: 0px 2px 4px rgba(#000,0.20);
        }
    }
    @include respond-to-except-mobile {
        // background: #e1f0fa;
        &.dark {
            background-color: $DARKMODE_BG_SECONDARY;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    &.no-overflow {
        @include respond-to-mobile {
            overflow-y: hidden;
        }
    }
    &.dark {
        background-color: $DARKMODE_BG;
    }
}

body.dark {
    /deep/ .tabs {
        .tab-toggler {
            border-bottom: 1px dashed rgba(#565656, 0.50) !important;
            button {
                color: #909090 !important;
                &.active {
                    color: #565656 !important;
                }
            }
        }
    }    
}

@include scrollbars(0.50em, #e0e0e0, #f0f0f0);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.player-holder {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    video {
        width: 100%;
        height: 100%;
    }
}
.project-contents {
    width: 100vw;
    height: 100vh;
}
.p-l-r-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.p-b-0 {
    padding-bottom: 0 !important;
}
.portfolio-btn {
    border: 2px solid #565656;
    color: #565656;
    padding: 0 15px !important;
    line-height: 48px;
    background: transparent;
    font-size: medium;
    letter-spacing: 1px;
    margin-top: 30px;
    min-width: 100px;
    display: inline-block;
    &:hover {
        background: #000;
        border-color: #000;
        color: #fff !important;
        outline: none;
    }
    + .portfolio-btn {
        margin-left: 15px;
    }
}
a.portfolio-btn {
    display: inline-block;
    height: 48px;
    text-decoration: none;
    line-height: 44px;
}
img {
    transition: opacity 0.3s linear 0s;
    &[data-lazy-load="true"] {
        &:not(.show) {
            opacity: 0;
        }
        &.show {
            opacity: 1;
        }
    }
}