@import '../app.component';
.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px 15px 60px;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    @include respond-to-mobile {
        padding: 30px 12px 5px 12px;
    }
    .play-icon {
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        margin: 60px 0 0 0;
        cursor: pointer;
        i {
            color: rgba(0, 0, 0, 0.30);
            font-style: normal;
            line-height: 48px;
            cursor: pointer;
            position: relative;
            left: 2px;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.75);
            i {
                color: rgba(255, 255, 255, 0.90);
            }
        }
        @include respond-to-mobile {
            display: none;
        }
    }
    .titles {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 30px 0;
        flex-direction: column;
        @include respond-to-except-mobile {
            min-height: calc(100vh - 300px);
        }
        @include respond-to-mobile {
            padding: 15px 0;
        }
        span.code {
            padding: 0;
            color: $PETER_RIVER;
            &:before {
                content: '〈';
                position: relative;
                left: -6px;
                color: $PETER_RIVER;
                margin-right: 2px;
            }
            &:after {
                content: '〉';
                position: relative;
                right: -6px;
                color: $PETER_RIVER;
                margin-left: 2px;
            }
        }
    }
    h1 {
        font-size: 6em;
        font-weight: 300;
        margin: 30px 0;
        padding: 0;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
        text-align: center;
        @include respond-to-mobile {
            font-size: 3em;
            margin: 15px 0;
            padding: 0;
            text-align: center;
            width: 100%;
        }
    }
    h2 {
        font-size: 1.5em;
        font-weight: 100;
        margin: 5px 0;
        padding: 0;
        text-align: center;
        @include respond-to-mobile {
            width: 100%;
            font-size: 1.25em;
            padding: 0;
            text-align: center;
            line-height: normal;
            & + h2 {
                margin-top: 10px;
            }
        }
    }
    h3 {
        font-size: 2em;
        font-weight: 100;
        margin: 0;
        padding: 0;
        text-align: center;
        @include respond-to-mobile {
            font-size: 1.5em;
            padding: 0 12px;
        }
    }
    .projects-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        margin: 60px 0 30px 0;
        position: relative;
        @include respond-to-mobile {
            width: 100%;
            padding: 0;
            border-top: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        label {
            margin: 25px 0 0 0;
            padding: 0;
            line-height: 60px;
            font-size: 1.5em;
            color: #707070;
            font-weight: 100;
            @include respond-to-mobile {
                font-size: medium;
                font-weight: 500;
                line-height: 36px;
            }
            @include respond-to-except-mobile {
                margin: 25px 0 0 0;
                padding: 0;
                line-height: 60px;
                font-size: 1em;
                color: #A0A0A0;
                font-weight: 500;
                // text-transform: uppercase;
                letter-spacing: 1px;
                // position: absolute;
                // left: 50%;
                // margin-left: -125px;
                width: 250px;
                // background: #f9f9f9;
                text-align: center;
                // top: -18px;
                margin-top: 0;
                // border-radius: 25px;
            }
        }
    }
    .project-wrapper {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;
        @include respond-to-mobile {
            width: 100%;
            padding: 0;
        }
        .project-item-wrapper {
            padding: 0;
            margin: 0 0 30px 0;
            max-width: 1200px;
            @include respond-to-mobile {
                flex: 1 1 calc(100%);
                height: auto;
                margin-bottom: 12px;
                padding: 0;
                width: 100%;
            }
            .project-items-list {
                width: 100%;
                display: flex;
                @include respond-to-mobile {
                    flex-flow: column;
                }
                @include respond-to-except-mobile {
                    flex-flow: row wrap;
                    justify-content: space-between;
                }
                .project-list-item {
                    @include respond-to-except-mobile {
                        flex: 1;
                        margin: 0 15px;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    @include respond-to-mobile {
                        width: 100%;
                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }
                    }
                    a {
                        .project-item-content-wrapper {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            @include respond-to-except-mobile {
                            }
                            @include respond-to-mobile {
                            }
                            .content {
                                min-width: auto;
                                @include respond-to-except-mobile {
                                    padding: 45px 20px 30px 30px;
                                }
                                @include respond-to-mobile {
                                    padding: 20px;
                                    align-items: flex-start;
                                    width: 100%;
                                }
                                &.colored-bg {
                                    height: 250px;
                                    width: 100%;
                                    padding: 15px;
                                }
                                &:not(.colored-bg) {
                                    label {
                                        @include respond-to-except-mobile {
                                            &.title {
                                                margin: 0 0 30px 0;
                                           }
                                            text-align: center;
                                            &:not(.title) {
                                                font-size: 1.15em;
                                                font-weight: 400;
                                                line-height: 1.50em;
                                                margin: 0 0 20px 0;
                                            }
                                        }
                                        @include respond-to-mobile {
                                            &.title {
                                                margin: 0 0 18px 0;
                                           }
                                            text-align: left;
                                            &:not(.title) {
                                                font-size: medium;
                                                font-weight: 400;
                                            }
                                        }
                                    }
                                }
                            }
                            .tags {
                                display: flex;
                                flex-flow: row wrap;
                                margin-top: 20px;
                                justify-content: center;
                                @include respond-to-mobile {
                                    justify-content: flex-start;
                                    margin-top: 15px;
                                }
                                .tag {
                                    @include respond-to-mobile {
                                        padding: 0 7px;
                                    }
                                    @include respond-to-except-mobile {
                                        padding: 0 15px;
                                    }
                                    &:first-child {
                                        padding-left: 0;
                                    }
                                    &:last-child {
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            a {
                *,
                & {
                    cursor: pointer;
                } 
                text-decoration: none;
                display: block;
                background: rgba(0, 0, 0, 0.025);
                color: #333;
                width: 100%;
                padding: 0;
                flex-flow: column;
                transition: all 0.3s linear 0s;
                position: relative;
                z-index: 1;
                @include respond-to-mobile {
                    padding: 0;
                    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
                }
                &:hover {
                    z-index: 2;
                }
                .project-item-content-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
                    transition: all 0.3s linear 0s;
                    @include respond-to-mobile {
                        box-shadow: none;
                    }
                    .content {
                        order: 1;
                        flex: initial;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 45px;
                        transition: background 0.3s linear 0s;
                        @include respond-to-mobile {
                            padding: 20px;
                        }
                        &.colored-bg {
                            flex: initial;
                            height: 450px;
                            @include respond-to-mobile {
                                display: none;
                            }
                        }
                        &:not(.colored-bg) {
                            flex: 1;
                            @include respond-to-except-mobile {
                                min-width: 400px
                            }
                        }
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        &.hidden {
                            display: none;
                        }
                    }
                    label {
                        &.title {
                            @include respond-to-mobile {
                                margin: 0 0 18px 0;
                                padding: 0;
                                font-size: medium;
                                font-weight: 700;
                                text-align: left;
                                text-transform: uppercase;
                                width: 100%;
                            }
                            @include respond-to-except-mobile {
                                margin: 0 0 15px 0;
                                padding: 0;
                                font-size: 1.25em;
                                font-weight: 700;
                                text-align: left;
                                // text-transform: capitalize;
                                width: 100%;
                                word-spacing: 3px;
                                opacity: 0.75;
                            }
                        }
                    }
                    label {
                        margin: 0;
                        padding: 0;
                        font-size: 1.5em;
                        font-weight: 300;
                        text-align: left;
                        @include respond-to-mobile {
                            font-size: medium;
                            font-weight: normal;
                            width: 100%;
                        }
                    }
                    p {
                        width: 80%;
                        margin: 15px 0 0 0;
                        font-size: medium;
                        text-align: center;
                    }
                    .tags {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        margin: 60px 0 0 0;
                        @include respond-to-mobile {
                            margin-top: 15px;
                        }
                        .tag {
                            padding: 0 15px;
                            text-transform: uppercase;
                            color: #909090;
                            font-size: small;
                            margin: 0;
                            font-weight: 600;
                            @include respond-to-mobile {
                                font-size: x-small;
                                padding: 0 7px;
                                color: #565656;
                            }
                            &:not(:last-child) {
                                border-right: 1px solid #d0d0d0;
                            }
                            &:first-child {
                                padding-left: 0;
                            }
                        }
                    }
                }
                &[data-bg-color="$TURQUOISE"] {
                    .project-item-content-wrapper {
                        .colored-bg {
                            background: lighten($TURQUOISE, 38);
                        }
                    }
                    @include respond-to-mobile {
                        background: lighten($TURQUOISE, 38);   
                    }
                    @include respond-to-except-mobile {
                        .project-item-content-wrapper {
                            &:hover {
                                .colored-bg {
                                    background: rgba(darken($TURQUOISE, 10), 1);
                                }
                                .tags {
                                    .tag {
                                        color: #f0f0f0;
                                        border-right-color: #e0e0e0;
                                    }
                                }
                                label {
                                    color: #f0f0f0;
                                }
                                background: rgba(darken($TURQUOISE, 10), 1);
                                -webkit-box-shadow: 0px 13px 71px -2px rgba($TURQUOISE, 1);
                                -moz-box-shadow: 0px 13px 71px -2px rgba($TURQUOISE, 1);
                                box-shadow: 0px 13px 71px -2px rgba($TURQUOISE, 1);
                            }
                        }
                    }
                }
                &[data-bg-color="$BELIZE_HOLE"] {
                    .project-item-content-wrapper {
                        .colored-bg {
                            background: lighten($BELIZE_HOLE, 48);
                        }
                    }
                    @include respond-to-mobile {
                        background: lighten($BELIZE_HOLE, 48);
                    }
                    @include respond-to-except-mobile {
                        .project-item-content-wrapper {
                            &:hover {
                                .colored-bg {
                                    background: rgba(lighten($BELIZE_HOLE, 10), 1);
                                }
                                .tags {
                                    .tag {
                                        color: #f0f0f0;
                                        border-right-color: #e0e0e0;
                                    }
                                }
                                label {
                                    color: #f0f0f0;
                                }
                                background: rgba(lighten($BELIZE_HOLE, 10), 1);
                                -webkit-box-shadow: 0px 13px 71px -2px rgba($BELIZE_HOLE, 1);
                                -moz-box-shadow: 0px 13px 71px -2px rgba($BELIZE_HOLE, 1);
                                box-shadow: 0px 13px 71px -2px rgba($BELIZE_HOLE, 1);
                            }
                        }
                    }
                }
                &[data-bg-color="$PUMPKIN"] {
                    .project-item-content-wrapper {
                        .colored-bg {
                            background: lighten($ALIZARIN, 38);
                        }
                    }
                    @include respond-to-mobile {
                        background: lighten($ALIZARIN, 38);
                    }
                    @include respond-to-except-mobile {
                        .project-item-content-wrapper {
                            &:hover {
                                .colored-bg {
                                    background: rgba(darken($PUMPKIN, 0), 1);
                                }
                                .tags {
                                    .tag {
                                        color: #f0f0f0;
                                        border-right-color: #e0e0e0;
                                    }
                                }
                                label {
                                    color: #f0f0f0;
                                }
                                background: rgba(darken($PUMPKIN, 0), 1);
                                -webkit-box-shadow: 0px 13px 71px -2px rgba($PUMPKIN, 1);
                                -moz-box-shadow: 0px 13px 71px -2px rgba($PUMPKIN, 1);
                                box-shadow: 0px 13px 71px -2px rgba($PUMPKIN, 1);
                            }
                        }
                    }
                }
                &[data-bg-color="$ALIZARIN"] {
                    .project-item-content-wrapper {
                        .colored-bg {
                            background: lighten($ALIZARIN, 38);
                        }
                    }
                    @include respond-to-mobile {
                        background: lighten($ALIZARIN, 38);
                    }
                    @include respond-to-except-mobile {
                        .project-item-content-wrapper {
                            &:hover {
                                .colored-bg {
                                    background: rgba(darken($ALIZARIN, 0), 1);
                                }
                                .tags {
                                    .tag {
                                        color: #f0f0f0;
                                        border-right-color: #e0e0e0;
                                    }
                                }
                                label {
                                    color: #f0f0f0;
                                }
                                background: rgba(darken($ALIZARIN, 0), 1);
                                -webkit-box-shadow: 0px 13px 71px -2px rgba($ALIZARIN, 1);
                                -moz-box-shadow: 0px 13px 71px -2px rgba($ALIZARIN, 1);
                                box-shadow: 0px 13px 71px -2px rgba($ALIZARIN, 1);
                            }
                        }
                    }
                }
                &[data-bg-color="$WISTERIA"] {
                    .project-item-content-wrapper {
                        .colored-bg {
                            background: lighten($WISTERIA, 47); 
                        }
                    }
                    @include respond-to-mobile {
                        background: lighten($WISTERIA, 47); 
                    }
                    @include respond-to-except-mobile {
                        .project-item-content-wrapper {
                            &:hover {
                                .colored-bg {
                                    background: rgba(darken($WISTERIA, 0), 1);
                                }
                                .tags {
                                    .tag {
                                        color: #f0f0f0;
                                        border-right-color: #e0e0e0;
                                    }
                                }
                                label {
                                    color: #f0f0f0;
                                }
                                background: rgba(darken($WISTERIA, 0), 1);
                                -webkit-box-shadow: 0px 13px 71px -2px rgba($WISTERIA, 1);
                                -moz-box-shadow: 0px 13px 71px -2px rgba($WISTERIA, 1);
                                box-shadow: 0px 13px 71px -2px rgba($WISTERIA, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}
.video-player {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    video {
        width: 100%;
        height: 100%;
    }
}