@import '../../_shared';
.contact-form {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    label {
        font-size: 48px;
        font-weight: 100px;
        margin: 0 0 60px 0;
        opacity: 0.50;
    }
    .section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            text-decoration: none;
            &.dock-item {
                min-width: 150px;
                margin: 0 10px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &:hover {
                    background: rgba($color: #000000, $alpha: 0.025);
                }
                label {
                    font-weight: bold;
                    order: 2;
                    text-decoration: none;
                    color: #000000;
                    opacity: 0.75;
                    font-size: medium;
                    margin-top: 30px;
                    margin-bottom: 0;
                }
                svg {
                    order: 1;
                    width: 60px;
                    height: 60px;
                    fill: $NEPHRITIS;
                    g {
                        fill: $NEPHRITIS;
                    }
                    path {
                        fill: $NEPHRITIS;
                    }
                }   
            }
        }
    }
}