@import '../../_shared';
.arrow-holder {
    width: 48px;
    height: 48px;
    background: lighten(#3498db, 40);
    box-shadow: 0px 2px 4px rgba(#3498db,0.30);
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    border-radius: 50%;
    margin-top: 24px;
    cursor: pointer;
    z-index: 998;
    &.show {
        opacity: 1;
        animation: pop-up 0.3s linear 0s forwards;
    }
    &.hide {
        opacity: 0;
        animation: pop-out 0.15s linear 0s forwards;
    }
    img {
        height: 24px;
        position: relative;
        top: 12px;
        opacity: 0.75;
    }
}
@keyframes pop-up {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@keyframes pop-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}